<!DOCTYPE html>
<html data-theme="saavn" class=" win chrome chrome45 webkit"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>  Jobs – Saavn</title>
	<meta charset="UTF-8">
	<link rel="pingback" href="http://corporate.saavn.com/xmlrpc.php">
	<link rel="icon shortcut" type="image/x-icon" href="http://corporate.saavn.com/wp-content/themes/saavn/_i/favicon.ico">

	<meta property="og:site_name" content="Saavn">
	<meta property="og:title" content="Jobs – Saavn">
	<meta property="og:url" content="http://www.saavn.com/corporate/jobs">
	<meta property="og:type" content="article">

	<!-- Twitter -->
	<meta name="twitter:site" content="@Saavn">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/corp.css">
</head>

<body id="jobs" class="nav-pin">
	<div id="head-wrap">
		<header class="grad" id="mast">

			<h1 id="mast-title" style="opacity: 0; transform: translateY(-480px);">Join our team. <em>Inspire us, and get inspired. Help us make music beautiful.</em></h1>
			<nav class="mast" id="mast-btns" style="opacity: 0; transform: translateY(-480px);">
				<ul>
					<li><a class="btn btn-positions">Open Positions</a></li>
					<li><a class="btn btn-culture">Our Culture</a></li>
					<!--<li><a class="btn" href="http://www.saavn.com/corporate/team">Meet The Team</a></li>-->
				</ul>
			</nav>			<div id="mast-img" style="opacity: 0; transform: translateY(-80px);">
				<div id="mast-img-bin" style="opacity: 1; background-image: url(http://www.saavn.com/corporate/wp-content/themes/saavn/_i/mast/ranbir.jpg);"></div>
			</div>
		</header>

		<div id="nav-container" style="opacity: 0; transform: translateY(-86px);">
			<div class="col outer">
				<a id="logo" href="http://www.saavn.com/corporate">Saavn</a>
				<nav class="mast" id="header-nav">
					<ul>
						<li><a href="http://saavn.com/blog">Blog</a></li>
						<li><a href="http://help.saavn.com/">Help</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
<div id="page" style="padding-top: 83px;">

	<nav id="main-nav">
	<div class="col outer clr">
		<a id="pin-logo" href="http://www.saavn.com/corporate" style="opacity: 1;">Saavn</a>
		<ul>
			<li><a href="http://www.saavn.com/corporate">About</a></li>
			<li><a href="http://www.saavn.com/corporate/mobile">Mobile</a></li>
			<li><a href="http://www.saavn.com/corporate/pro">Pro</a></li>
			<li><a href="http://www.saavn.com/corporate/press">Press</a></li>
			<!-- <li><a href="http://www.saavn.com/corporate/team">Team</a></li> -->
			<li class="current"><a href="./Jobs – Saavn_files/Jobs – Saavn.html">Jobs</a></li>
			<li><a href="http://www.saavn.com/corporate/advertise">Advertise</a></li>
		</ul>

		<a id="mobile-nav-handle">YO</a>
	</div>
	<div id="main-nav-shadow" style="opacity: 1;"></div>
</nav>
	<main class="no-pad">

		<section class="page-group mobile-flex">
			<div class="col inner">
				<aside class="flex-right" id="our-culture">
					<div class="aside-group">
						<h2>Our Culture</h2>
						<p class="small">Saavn is headquartered on Park Avenue in New York City, in the heart of the city's booming tech corridor and surrounded by great bars, restaurants, gyms, steps from Madison Square Park, and convenient access to virtually all public transportation. Our offices are casual, open plan, and filled with natural light. We also have offices in Mountain View, CA (the heart of Silicon Valley), Mumbai, and New Delhi. Every office has it's own character, but we share a common goal and passion for building a great music service.</p>
						<p class="small">Our culture is crucial to us. We hire carefully, and always prefer the right person to the right resume. We're out to change the landscape of music in India, and want people who are as passionate as we are about making beautiful music, and about making music beautiful.</p>

						<h3 class="light list-header">Perks</h3>
						<p class="small">Everyone on our team enjoys fully-paid premium medical, dental, and vision coverage for them and their dependents. We have liberal vacation policies, flexible hours, and offer many other benefits including a 401k plan, disability and life insurance, and plenty of other employee assistance programs.</p>

						<h3 class="light list-header">Equipment</h3>
						<p class="small">Everyone at Saavn receives the gear they need to work quickly and efficiently – a new desktop or laptop, monitor, software, accessories. You tell us what you need to be successful and we'll make it happen... and no, we don't believe you need a Maserati to be successful.</p>
					</div>
				</aside>

				<div class="flex-left">
					<div id="job-listings">
						<h2>Open Positions</h2>
                        <div class="job-group">
                            <h3 class="list-header">Ad Operations</h3>
                            <ul class="job-list">
                                <li id="n9grzS">
        							<a href="http://saavn.theresumator.com/apply/n9grzS" target="_blank">
        								<strong>Ad Solutions Data Analyst</strong>
        								<p class="small light locales"><em>Gurgaon, India</em></p>
        							</a>
        						</li>
                                <li id="h71TiU">
        							<a href="http://saavn.theresumator.com/apply/h71TiU" target="_blank">
        								<strong>Client Services Associate</strong>
        								<p class="small light locales"><em>New York, NY</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Brand Solutions</h3>
                            <ul class="job-list">
                                <li id="EqVucT">
        							<a href="http://saavn.theresumator.com/apply/EqVucT" target="_blank">
        								<strong>Brand Solutions Partner</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                                <li id="SD71Ki">
        							<a href="http://saavn.theresumator.com/apply/SD71Ki" target="_blank">
        								<strong>Brand Solutions Partner</strong>
        								<p class="small light locales"><em>Gurgaon, India</em></p>
        							</a>
        						</li>
                                <li id="zd9CT6">
        							<a href="http://saavn.theresumator.com/apply/zd9CT6" target="_blank">
        								<strong>Brand Solutions and Marketing Associate</strong>
        								<p class="small light locales"><em>New York, NY</em></p>
        							</a>
        						</li>
                                <li id="jKmUId">
        							<a href="http://saavn.theresumator.com/apply/jKmUId" target="_blank">
        								<strong>Brand Solutions Partner</strong>
        								<p class="small light locales"><em>New York, United States</em></p>
        							</a>
        						</li>
                                <li id="Uju7r5">
        							<a href="http://saavn.theresumator.com/apply/Uju7r5" target="_blank">
        								<strong>Brand Solutions Partner</strong>
        								<p class="small light locales"><em>Bangalore, India</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Data</h3>
                            <ul class="job-list">
                                <li id="sgIwHs">
        							<a href="http://saavn.theresumator.com/apply/sgIwHs" target="_blank">
        								<strong>Data Analyst</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                                <li id="9t1toa">
        							<a href="http://saavn.theresumator.com/apply/9t1toa" target="_blank">
        								<strong>Data Scientist</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Design &amp; UX</h3>
                            <ul class="job-list">
                                <li id="RYcCfU">
        							<a href="http://saavn.theresumator.com/apply/RYcCfU" target="_blank">
        								<strong>Senior Front-End Developer</strong>
        								<p class="small light locales"><em>New York, NY</em></p>
        							</a>
        						</li>
                                <li id="ndj0oM">
        							<a href="http://saavn.theresumator.com/apply/ndj0oM" target="_blank">
        								<strong>Lead Product Designer</strong>
        								<p class="small light locales"><em>New York, NY</em></p>
        							</a>
        						</li>
                                <li id="sCCQoq">
        							<a href="http://saavn.theresumator.com/apply/sCCQoq" target="_blank">
        								<strong>Senior Mobile Designer / Developer, IOS</strong>
        								<p class="small light locales"><em>New York, NY</em></p>
        							</a>
        						</li>
                                <li id="4U6qMf">
        							<a href="http://saavn.theresumator.com/apply/4U6qMf" target="_blank">
        								<strong>Senior Mobile Designer / Developer, Android</strong>
        								<p class="small light locales"><em>New York, NY</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Editorial</h3>
                            <ul class="job-list">
                                <li id="Yi6u20">
        							<a href="http://saavn.theresumator.com/apply/Yi6u20" target="_blank">
        								<strong>Assistant Managing Editor</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Engineering</h3>
                            <ul class="job-list">
                                <li id="K5pegl">
        							<a href="http://saavn.theresumator.com/apply/K5pegl" target="_blank">
        								<strong>Software Engineer in Test</strong>
        								<p class="small light locales"><em>Mountain View, CA</em></p>
        							</a>
        						</li>
                                <li id="tUoRA7">
        							<a href="http://saavn.theresumator.com/apply/tUoRA7" target="_blank">
        								<strong>Senior Software Engineer</strong>
        								<p class="small light locales"><em>Mountain View, CA</em></p>
        							</a>
        						</li>
                                <li id="P2c8bL">
        							<a href="http://saavn.theresumator.com/apply/P2c8bL" target="_blank">
        								<strong>Senior Software Engineer</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                                <li id="ipDbOs">
        							<a href="http://saavn.theresumator.com/apply/ipDbOs" target="_blank">
        								<strong>Senior Mobile Software Engineer</strong>
        								<p class="small light locales"><em>Mountain View, CA</em></p>
        							</a>
        						</li>
                                <li id="lvLYWt">
        							<a href="http://saavn.theresumator.com/apply/lvLYWt" target="_blank">
        								<strong>Senior Mobile Software Engineer</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                                <li id="ZGJqeb">
        							<a href="http://saavn.theresumator.com/apply/ZGJqeb" target="_blank">
        								<strong>Software Engineer in Test</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Multimedia</h3>
                            <ul class="job-list">
                                <li id="ycnYih">
        							<a href="http://saavn.theresumator.com/apply/ycnYih" target="_blank">
        								<strong>Copywriter</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                                <li id="7swZkW">
        							<a href="http://saavn.theresumator.com/apply/7swZkW" target="_blank">
        								<strong>Motion Graphics Artist / Video Editor</strong>
        								<p class="small light locales"><em>Mumbai, India</em></p>
        							</a>
        						</li>
                            </ul>
                        </div>
                        <div class="job-group">
                            <h3 class="list-header">Product</h3>
                            <ul class="job-list">
                                <li id="CEt8tj">
        							<a href="http://saavn.theresumator.com/apply/CEt8tj" target="_blank">
        								<strong>Field Test Analyst</strong>
        								<p class="small light locales"><em>Gurgaon, India</em></p>
        							</a>
        						</li>
					</ul></div>
				</div>
			</div>
		</div></section>

	</main>

</div>
	<footer>
		<div class="col outer">
			<div class="footer-links">
				<div class="footer-col">
					<h4 class="footer-links-title">Saavn</h4>
					<ul class="footer-links-list">
						<li><a href="http://www.saavn.com/corporate">About</a></li>
						<li class="page_item page-item-5"><a href="http://www.saavn.com/corporate/mobile">Mobile</a></li>
<li class="page_item page-item-8"><a href="http://www.saavn.com/corporate/pro">Pro</a></li>
<li class="page_item page-item-17"><a href="http://www.saavn.com/corporate/press">Press</a></li>
<li class="page_item page-item-12 current_page_item"><a href="./Jobs – Saavn_files/Jobs – Saavn.html">Jobs</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-links-title">Corporate</h4>
					<ul class="footer-links-list">
						<li class="page_item page-item-15"><a href="http://www.saavn.com/corporate/advertise">Advertise</a></li>
<li class="page_item page-item-20"><a href="http://www.saavn.com/corporate/music-rights">Music Rights</a></li>
<li class="page_item page-item-160"><a href="http://www.saavn.com/corporate/brand">Brand Guide</a></li>
<li class="page_item page-item-245"><a href="http://www.saavn.com/corporate/labels">Labels &amp; Artists</a></li>
<li class="page_item page-item-22"><a href="http://www.saavn.com/corporate/terms">Terms</a></li>
<li class="page_item page-item-24"><a href="http://www.saavn.com/corporate/privacy">Privacy</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-links-title">Mobile</h4>
					<ul class="footer-links-list">
						<li><a href="http://saa.vn/iphone">iOS</a></li>
						<li><a href="http://saa.vn/android">Android</a></li>
						<li><a href="http://m.saavn.com/">Saavn for WAP</a></li>
						<li><a href="http://www.saavn.com/corporate/pro">Saavn Pro</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-links-title">Desktop</h4>
					<ul class="footer-links-list">
						<li><a href="http://saavn.com/">Saavn.com</a></li>
						<li><a href="http://saavn.com/firefox">Saavn Firefox Feed</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="footer-links-title">Connect</h4>
					<ul class="footer-links-list">
						<li><a href="http://saavn.com/blog">Blog</a></li>
						<li><a href="http://help.saavn.com/">Help</a></li>
						<li><a href="http://www.saavn.com/corporate/contact">Contact</a></li>
					</ul>
				</div>
			</div>

			<div class="copyright">
				<ul class="social-links">
					<li class="social-twitter"><a href="http://twitter.com/saavn">Twitter</a></li>
					<li class="social-facebook"><a href="http://facebook.com/saavn">Facebook</a></li>
					<li class="social-youtube"><a href="http://youtube.com/saavn">YouTube</a></li>
					<li class="social-googleplus"><a href="http://plus.google.com/+saavn">Google+</a></li>
					<li class="social-instagram"><a href="http://instagram.com/saavn">Instagram</a></li>
				</ul>
				<p>© 2015 Saavn, LLC. All rights reserved.</p>
			</div>
		</div>
	</footer>


	<script type="text/javascript" src="js/corp.js"></script>


</body></html>
