<!DOCTYPE html>

<html data-theme="poonia" class=" win chrome chrome45 webkit"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>  Jobs – poonia</title>
	<meta charset="UTF-8">

	<!-- Twitter -->
	<meta name="twitter:site" content="@poonia">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/corp.css">
<body id="jobs" class="nav-pin">
	<div id="head-wrap">
		<header class="grad" id="mast">

			<h1 id="mast-title" style="opacity: 0; transform: translateY(-480px);">Join our team. <em>Inspire us, and get inspired. Help us makeit More Better.</em></h1>
			<nav class="mast" id="mast-btns" style="opacity: 0; transform: translateY(-480px);">
				<ul>
					<li><a class="btn btn-positions">Jhansal History</a></li>
					<li><a class="btn btn-culture">Our Culture</a></li>

				</ul>
			</nav>			<div id="mast-img" style="opacity: 0; transform: translateY(-80px);">
				<div id="mast-img-bin" style="opacity: 1; background-image: url(../images/3.jpg);"></div>
			</div>
		</header>

		<div id="nav-container" style="opacity: 0; transform: translateY(-86px);">
			<div class="col outer">
				<a id="logo" href="">Poonia</a>
				<nav class="mast" id="header-nav">
					<ul>
						<li><a href="http://rohtashpoonia.blogspot.in/">Blog</a></li>
						<li><a href="">Help</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">SignUp</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
<div id="page" style="padding-top: 73px;">

	<nav id="main-nav">
	<div class="col outer clr">
		<a id="pin-logo" href="" style="opacity: 1;">Poonia</a>
		<ul>
			<li><a href="/jhansal">Jhansal</a></li>
	  	<li><a href="/education">Education</a></li>
			<li><a href="/temples">Temples</a></li>
			<li><a href="/news">News</a></li>
			<li ><a href="/contact">Contact Us</a></li>
			<li><a href="/login">Login</a></li>
			<li class="current"><a href="/about">About</a></li>
		</ul>

		<a id="mobile-nav-handle">YO</a>
	</div>
	<div id="main-nav-shadow" style="opacity: 1;"></div>
</nav>
	<main class="no-pad">

		<section class="page-group mobile-flex">
			<div class="col inner">
				<aside class="flex-right" id="our-culture">
					<div class="aside-group">
						<h2>Our Culture</h2>
						<p class="small"> is head restaurants, but we share a common goal and passion for building a great music service.</p>
						<p class="small">Our culture is crucial to us. We hire carefully, t making music beautiful.</p>

						<h3 class="light list-header">Perks</h3>
						<p class="small">Everyone on our team enjoys fully-paidand plenty of other employee assistance programs.</p>

						<h3 class="light list-header">Equipment</h3>
						<p class="small">Everyone areceives the gear happen... and no, we don't believe you need a Maserati to be successful.</p>
					</div>
				</aside>

				<div class="flex-left">
					<div id="job-listings">
						<h2>Jhansal History</h2>
                        <div class="job-group">

                            <ul class="job-list">
															<p class="medium">Jhansal is an ancient village in Bhadra tehsil of Hanumangarh district in Rajasthan, India.
																It is located in north eastern corner of the district adjoining Haryana border. It is about 20 km
																in north-east of Bhadra (Hanumangarh) on Bhadra-Hisar road. As of 2001 census its population is 5389 out of them 1419 are Scheduled Caste people.</p>

															<p class="medium">
																 According to Thakur Deshraj[2] it was capital of Puniya republic prior to Annexation	of it by Rathores in Jangladesh region of Rajasthan. Following is history mentioned by Thakur Deshraj:
																"The Puniyas are Naga clans, and Punia is derived from Naga. The Hissar Gazetteer says that they consider	themselves to be of the Shiva Gotr (clan) and there is reference to them being descended from Mahadev (Shiva)’s locks.
									 						  Shivi and Takshak people lived contagiously- side by side. These two evolved into being followers of Shaivism.</p>

															<p class="medium">Following the invasion by Sikandar(Alexander) some of the Shivi and Takshak clans came down below Punjab. Some out of these established their hold on Jangal Pradesh. The Puniyas too arose of such Jat groups who established their hold on a country and utilized for a very long time. They reached Jangal Pradesh by the time
																of commencement of the Christian era , current era. They governed this land upto the 15th century CE.	At the time of the arrival of the group of the Rathors under Bika and Kaandal, the Punia Sardars or chieftains had 300 villages
																under their sway. They had been independent from many generations. In addition they had six other republics of the Jats in Jangal Pradesh.
																Ram Ratan Charan in his “History of Rajputana” in Hindi, refers to these six realms as ‘Bhumiyachare” i.e. republics. Reference to these republics is also found in 'Bharat ke Desi Rajya’, 'Tarikh Raajgahn Hind’ ,
																  ‘Vakaye Rajputana’, and many other history books. We(Thakur Deshraj) have written our account on the basis of these historical Texts.</p>

															<p class="medium">At that time, the capital was Jhansal, which is on the boundary of modern Hissar. Ram Ratan Charan calls this capital as Luddhi in his book.
																Their Raja was Kanhadev at that time. Kanhadev was a great leader and a fearless warrior who could never be defeated.	His Punia clan brethren followed his wishes. Republics are defeated by internal dissent. His Puniya society had unity.
																 He did not have a large standing military force, but he had no shortage of young warriors, who lived at home, and who rose to arms as soon as the call came from their leader. Every Puniya citizen considered the whole republic as of his own.
																	They were ready to bear all hardships. They however would not tolerate a person from another community to rule over them.	Their mental makeup made them refuse to accept rule by Bika. They kept fighting for their independence as long as
																	they had young men who could come to the force. The Rahtors managed to take control of their homesteads one at a time.In the end the Rahtors constructed forts in the middle of their lands. The Rahtors would make these forts in the day,
																	and in the night the Puniyas would break them down. The folk traditions state that some Puniyas were buried alive in the walls of some of these forts.</p>

                            </ul>
                        </div>

				</div>
			</div>
		</div></section>

	</main>

</div>
<footer>
	<div class="col outer">
		<div class="footer-links">
			<div class="footer-col">
				<h4 class="footer-links-title">Jhansal </h4>
				<ul class="footer-links-list">
					<li><a target="_blank" rel="external">	Sarpanch</a></li>
					<li><a target="_blank" rel="external">	Vice Sarpanch</a></li>
					<li><a  target="_blank" rel="external">Block Member</a></li>
					<li><a  target="_blank" rel="external">district council </a></li>
				</ul>
			</div>

			<div class="footer-col">
				<h4 class="footer-links-title">Help</h4>
				<ul class="footer-links-list">
					<li><a  target="_blank" rel="external">Jhansal Sampark</a></li>
					<li><a  target="_blank" rel="external">Emergency Help</a> </li>
					<li><a  target="_blank" rel="external"> Road/travel info</a></li>
					<li><a  target="_blank" rel="external">Traffic Mobile Alerts</a></li>
					<li><a >Weather And Agromet</a></li>
				</ul>
			</div>

			<div class="footer-col">
				<h4 class="footer-links-title">Achievements of our village</h4>
				<ul class="footer-links-list">
					<li><a >Student Achievements  </a></li>
					<li><a >Sarpanch Achievements  </a></li>
					<li><a >Net Nahar Singh Commity Achievements  </a></li>
					<li><a >peoples Achievements  </a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4 class="footer-links-title">Jhansal Map</h4>
				<ul class="footer-links-list">
					<li><a href="">poonia.com</a></li>
					<li><a href="https://www.google.co.in/maps/place/Jhansal,+Rajasthan+335511/@29.1918465,75.3875014,16z/data=!3m1!4b1!4m2!3m1!1s0x3913dd1e25f6059b:0xffb02251ca62943">Map Link</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4 class="footer-links-title">Connect</h4>
				<ul class="footer-links-list">
					<li><a href="">Blog</a></li>
					<li><a href="">Help</a></li>
					<li><a href="/contact">Contacts</a></li>
				</ul>
			</div>
		</div>

		<div class="copyright">
			<ul class="social-links">
				<li class="social-twitter" style="opacity: 1; background-image: url(../images/twitter.png);"><a  href="" >Twitter</a></li>
				<li class="social-facebook" style="opacity: 1; background-image: url(../images/fb.jpg);"><a href="">Facebook</a></li>
				<li class="social-googleplus" style="opacity: 1; background-image: url(../images/google.png);"><a href="">Google+</a></li>
			</ul>
			<p>© 2015 poonia, LLC. All rights reserved.</p>
		</div>
	</div>
</footer>


	<!-- jQuery -->
<script type="text/javascript" src="js/corp.js"></script>
<script>
	if (typeof jQuery == 'undefined')
		document.write(unescape(""));
</script>




</body></html>
