<html lang="en" class="devsite"><head><script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflR1icA5/www-widgetapi.js" async=""></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script>var a=window.devsite||{};window.devsite=a;a.readyCallbacks=[];window.devsite.readyCallbacks=a.readyCallbacks;a.ready=function(c){a.readyCallbacks.push(c)};window.devsite.ready=a.ready;a.timing={};window.devsite=a;window.devsite.timing=a.timing;a.timing.timers=[];a.timing.tick=function(c,b,g){for(var d=0;d<a.timing.timers.length;d++)a.timing.timers[d].tick(c,b,g)};window.devsite.timing.tick=a.timing.tick;a.timing.report=function(c){a.setTimeout(function(){for(var b=0;b<a.timing.timers.length;b++)window.jstiming.report(a.timing.timers[b],c)},500)};
a.timing.init=function(c){a.timing.timers.push(window.jstiming.load);if(c){var b=new window.jstiming.Timer;b.name=c;a.timing.timers.push(b)}document.addEventListener&&window.addEventListener&&(document.addEventListener("DOMContentLoaded",a.timing.handleDomContentLoaded,!1),window.addEventListener("load",a.timing.handleLoad,!1))};a.timing.handleDomContentLoaded=function(){a.timing.tick("ol");document.removeEventListener("DOMContentLoaded",a.timing.handleDomContentLoaded,!1)};
a.timing.handleLoad=function(){window.removeEventListener("load",a.timing.handleLoad,!1);var c=document.querySelector("#devsite-request-elapsed");c&&(c=parseInt(c.getAttribute("data-request-elapsed"),10))&&(a.timing.tick("_st_start",null,1),a.timing.tick("st","_st_start",1+c));a.timing.tick("prt");a.timing.report()};(function(){function c(b){this.t={};this.tick=function(b,c,d){var e=void 0!=d?d:(new Date).getTime();this.t[b]=[e,c];if(void 0==d)try{window.console.timeStamp("CSI/"+b)}catch(f){}};this.tick("start",null,b)}var b;window.performance&&(b=window.performance.timing);var g=b?new c(b.responseStart):new c;window.jstiming={Timer:c,load:g};if(b){var d=b.navigationStart,f=b.responseStart;0<d&&f>=d&&(window.jstiming.srt=f-d)}if(b){var e=window.jstiming.load;0<d&&f>=d&&(e.tick("_wtsrt",void 0,d),e.tick("wtsrt_",
"_wtsrt",f),e.tick("tbsd_","wtsrt_"))}try{b=null,window.chrome&&window.chrome.csi&&(b=Math.floor(window.chrome.csi().pageT),e&&0<d&&(e.tick("_tbnd",void 0,window.chrome.csi().startE),e.tick("tbnd_","_tbnd",d))),null==b&&window.gtbExternal&&(b=window.gtbExternal.pageT()),null==b&&window.external&&(b=window.external.pageT,e&&0<d&&(e.tick("_tbnd",void 0,window.external.startE),e.tick("tbnd_","_tbnd",d))),b&&(window.jstiming.pt=b)}catch(h){}})();
devsite.timing.init('DocPage');</script><link href="https://developers.google.com/android/" rel="canonical"><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link href="https://plus.google.com/+GoogleDevelopers/" rel="publisher"><link rel="alternate" href="https://developers.google.com/android/?hl=zh-cn" hreflang="zh-cn"><link rel="alternate" href="https://developers.google.com/android/?hl=ko" hreflang="ko"><link rel="alternate" href="https://developers.google.com/android/?hl=es" hreflang="es"><link rel="alternate" href="https://developers.google.com/android/?hl=pt-br" hreflang="pt-br"><link rel="alternate" href="https://developers.google.com/android/?hl=ja" hreflang="ja"><link rel="alternate" href="https://developers.google.com/android/?hl=ru" hreflang="ru"><link rel="alternate" href="https://developers.google.com/android/?hl=zh-tw" hreflang="zh-tw"><link rel="alternate" href="https://developers.google.com/android/?hl=en" hreflang="en"><meta name="xsrf_token" content="jRqobCDQ643Qa2z8HOSyDEVVW60PzptZBZnLiVBn4nE6MTQ0MDY4OTk3MzQ5NzY3MA"><link rel="stylesheet" href="https://developers.google.com/_static/1fca726080/css/devsite-blue-grey.css"><link href="//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,700" rel="stylesheet"><link rel="shortcut icon" href="//www.gstatic.com/images/icons/material/product/2x/developers_32dp.png"><link rel="apple-touch-icon" href="//www.gstatic.com/images/icons/material/product/2x/developers_64dp.png"><link rel="search" type="application/opensearchdescription+xml" title="Google Developers" href="/s/opensearch.xml"><script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><script>
      var ___gcfg = ___gcfg || {};
      ___gcfg.lang = 'en';
      </script><style></style><script>devsite.timing.tick('cl');</script><meta property="og:site_name" content="Google Developers"><meta property="og:type" content="website"><meta property="og:url" content="https://developers.google.com/android/"><meta property="og:locale" content="en"><script>
    var ___gcfg = ___gcfg || {};
    ___gcfg.lang = 'en';
  </script><title>Google APIs for Android  &nbsp;|&nbsp; Google Developers</title><meta property="og:title" content="Google APIs for Android &nbsp;|&nbsp; Google Developers"><meta name="description" content="Simplify your Android development, grow your user base, and monetize more effectively with Google services."><meta property="og:description" content="Simplify your Android development, grow your user base, and monetize more effectively with Google services."><link rel="stylesheet" href="/android/styles/landing-page.css"><script src="//www.youtube.com/iframe_api"></script></head><body class="
  devsite-landing-page

  devsite-narrative-page

                 " id="top_of_page"><script>
        var dataLayer = [{"language": {"requested": "en", "served": "en"}, "projectName": "Google APIs for Android", "signedIn": "True", "internalUser": "False"}];

      </script><div class="devsite-wrapper" style="margin-top: 0px;"><header class="devsite-top-section

               " style="position: fixed;"><div class="devsite-top-logo-row-wrapper-wrapper" style="position: relative;"><div class="devsite-top-logo-row-wrapper"><div class="devsite-top-logo-row devsite-full-site-width"><a class="devsite-logo gc-analytics-event" href="/" data-category="Site-Wide Custom Events" data-label="Site logo"><img src="https://developers.google.com/_static/1fca726080/images/redesign-14/devsite-logo-white-icon.svg" alt="Google Developers icon" class="devsite-logo-icon"><img src="https://developers.google.com/_static/1fca726080/images/redesign-14/devsite-logo-white-wordmark.svg" alt="Google Developers" class="devsite-logo-wordmark"></a><div class="devsite-search-wrapper devsite-history-enabled"><form class="devsite-search-form" action="/s/results" method="GET" id="top-search"><div id="searchbox" class="devsite-searchbox"><span class="devsite-search-chip">Google APIs for Android<span class="devsite-search-chip-close"></span></span><input placeholder="Search" type="text" class="devsite-search-field devsite-search-query" name="q" value="" autocomplete="off"><div class="devsite-search-image"></div></div><input type="hidden" name="p" id="search_project" value="/android" data-project-name="Google APIs for Android" data-project-path="/android" data-query-match=""><input type="hidden" id="suggest-category-label-2" value="Pages in Google APIs for Android"><input type="hidden" id="suggest-category-label-3" value="Reference in Google APIs for Android"><input type="hidden" id="suggest-category-label-1" value="Products"><input type="hidden" id="suggest-all-results-label" value="See all results for"><div class="devsite-popout devsite-popout-closed"><div style="display: none;"><div class="devsite-suggest-container" style="display: none;">   <div class="devsite-suggest-wrapper">     <div class="devsite-suggest-side-column">       <div class="devsite-suggest-icon"></div>     </div>     <div class="devsite-suggest-main-column">       <div class="devsite-suggest-column devsite-nav" id="devsite-recent-column">       <ul class="devsite-suggest-results ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" role="menu" tabindex="0"></ul></div>     </div> </div></div></div><div class="devsite-history-container"><div class="devsite-history-wrapper"><div class="devsite-history-side-column"><div class="devsite-history-icon"></div></div><div class="devsite-history-main-column"><div class="devsite-history-column devsite-nav goog-menu" id="devsite-recent-column" role="menu" aria-haspopup="true" style="-webkit-user-select: none;"><label style="-webkit-user-select: none;">Recent Pages</label><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":0" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/android/" class="devsite-history-link" style="-webkit-user-select: none;">Google APIs for Android</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":1" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/drive/web/examples/" class="devsite-history-link" style="-webkit-user-select: none;">Drive Platform Example Apps</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":2" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/drive/v2/reference/" class="devsite-history-link" style="-webkit-user-select: none;">API Reference</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":3" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/drive/web/about-auth" class="devsite-history-link" style="-webkit-user-select: none;">Authorizing Your App with Google Drive</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":4" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/identity/protocols/OAuth2UserAgent" class="devsite-history-link" style="-webkit-user-select: none;">Using OAuth 2.0 for Client-side Applications</a></div></div></div><div class="devsite-history-column devsite-nav goog-menu" id="devsite-frequent-column" role="menu" aria-haspopup="true" style="-webkit-user-select: none;"><label style="-webkit-user-select: none;">Most Visited Pages</label><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":5" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/drive/v2/reference/" class="devsite-history-link" style="-webkit-user-select: none;">API Reference</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":6" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/identity/protocols/OAuth2UserAgent" class="devsite-history-link" style="-webkit-user-select: none;">Using OAuth 2.0 for Client-side Applications</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":7" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/identity/protocols/OAuth2" class="devsite-history-link" style="-webkit-user-select: none;">Using OAuth 2.0 to Access Google APIs</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":8" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/drive/web/examples/" class="devsite-history-link" style="-webkit-user-select: none;">Drive Platform Example Apps</a></div></div><div class="devsite-history-item devsite-nav-label goog-menuitem" role="menuitem" id=":9" style="-webkit-user-select: none;"><div class="goog-menuitem-content" style="-webkit-user-select: none;"><a href="/identity/" class="devsite-history-link" style="-webkit-user-select: none;">Google Identity Platform</a></div></div></div><div class="devsite-history-footer"><a href="//myaccount.google.com/privacy#accounthistory" class="devsite-history-preferences-link button button-white">History Preferences</a></div></div></div></div></div></form></div><a href="https://myaccount.google.com/" class="devsite-avatar-wrapper gc-analytics-event" data-category="Site-Wide Custom Events" data-label="User avatar"><img class="devsite-avatar" src="https://lh5.googleusercontent.com/-5FFIvzTcCRU/AAAAAAAAAAI/AAAAAAAAAZU/07_BbRte9S0/photo.jpg?sz=64"></a><button type="button" class="devsite-search-button button-flat">

          Search
        </button><div class="devsite-user-signout-wrapper"><a class="devsite-user-email gc-analytics-event" href="https://myaccount.google.com/" data-category="Site-Wide Custom Events" data-label="User email" title="rohtashpoonia644@gmail.com">rohtashpoonia644@gmail.com</a><a class="devsite-user-signout gc-analytics-event" href="https://www.google.com/accounts/Logout?continue=https://developers.google.com/android/&amp;service=ahsid" data-category="Site-Wide Custom Events" data-label="Sign out button">

            Sign out
          </a></div></div></div></div><div class="devsite-collapsible-section" style="margin-top: -192px;"><div class="devsite-header-background devsite-full-site-width"><div class="devsite-site-nav-row devsite-full-site-width" style="visibility: hidden;"><nav class="devsite-site-nav devsite-nav"><ul class="devsite-site-nav-list"><li class="devsite-breadcrumb-wrapper

                       devsite-breadcrumb-parent
                "><a href="/products/" class="devsite-breadcrumb gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Breadcrumb: parent" data-value="1">
                Products
              </a></li><li class="devsite-breadcrumb-wrapper

                       devsite-breadcrumb-project
                "><div class="devsite-breadcrumb-guillemet"></div><a href="/android/" class="devsite-breadcrumb gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Breadcrumb: project" data-value="2">
                Google APIs for Android
              </a></li></ul></nav></div><div class="devsite-product-id-row devsite-full-site-width" style="visibility: hidden;"><div class="devsite-product-id-row-links-container"><h1 class="devsite-product-name">

      Google APIs for Android

    </h1></div><div class="devsite-product-description-row">

        Simplify your Android development, grow your user base, and monetize more effectively with Google services.

      </div></div><div class="devsite-doc-set-nav-row devsite-full-site-width"><nav class="devsite-doc-set-nav devsite-nav"><ul class="devsite-doc-set-nav-tab-list"><li class="devsite-doc-set-nav-tab-container"><a href="/android/" class="devsite-doc-set-nav-active
                                       devsite-doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Home">
          Home
        </a></li><li class="devsite-doc-set-nav-tab-container"><a href="/android/guides/overview" class="
                                       devsite-doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Guides">
          Guides
        </a></li><li class="devsite-doc-set-nav-tab-container"><a href="/android/reference/com/google/android/gms/package-summary" class="
                                       devsite-doc-set-nav-tab gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Tab: Reference">
          Reference
        </a></li></ul></nav></div></div></div></header><script>
  if (window.jQuery) {
    $(document).ready(function() {
      if (window.devsite && window.devsite.search) {

        window.devsite.search.init('en', false, null)
      }
    });
  }
</script><div class="kd-butterbar"><span><span class="message"></span><a href="#" class="kd-butterbar-dismiss">Hide</a></span></div><div id="gc-wrapper" itemscope="" itemtype="http://schema.org/Article"><input class="google-analytics-id-json" type="hidden" value="{&quot;dimensions&quot;: {&quot;dimension6&quot;: &quot;en&quot;, &quot;dimension4&quot;: &quot;Google APIs for Android&quot;, &quot;dimension5&quot;: &quot;en&quot;, &quot;dimension3&quot;: false, &quot;dimension1&quot;: &quot;Signed In&quot;}, &quot;gaid&quot;: &quot;UA-24532603-1&quot;}"><input class="google-analytics-id-json" type="hidden" value="{&quot;dimensions&quot;: {&quot;dimension6&quot;: &quot;en&quot;, &quot;dimension4&quot;: &quot;Google APIs for Android&quot;, &quot;dimension5&quot;: &quot;en&quot;, &quot;dimension3&quot;: false, &quot;dimension1&quot;: &quot;Signed In&quot;}, &quot;gaid&quot;: &quot;UA-49880327-1&quot;}">


          <div class="devsite-article-mask"></div>
          <div class="devsite-site-mask"></div>

          <div class="devsite-main-content clearfix" style="margin-top: 336px;">












      <article class="devsite-article">
        <div class="devsite-article-inner">


  <section class="devsite-landing-row devsite-landing-row-3-up"><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Develop</h3><div class="devsite-landing-row-item-description-callout">Ship higher
  quality apps. Faster.</div>
Get a headstart on your development with Google services that you can
  use out-of-the-box.
<div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/analytics/devguides/collection/android/v4/start">Analytics</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>Analytics</h3>
    Measure everything about your mobile app.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/identity/sign-in/android/">Sign in with Google</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>Sign in with Google</h3>
    Get users into your app quickly and securely.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/maps/documentation/android/">Maps</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>Maps</h3>
    Give users the map that more than a billion people use every month.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/places/android/">Places</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>Places</h3>
    Show details about local businesses and points of interest.
  </div></div></div></div><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Engage</h3><div class="devsite-landing-row-item-description-callout">Grow an
  active user base</div>
Reach new users and find ways to keep them coming back to your app. <div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/cloud-messaging/android/client">Google Cloud Messaging</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>Google Cloud Messaging</h3>
    Send push notifications from your server to your users' devices.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/app-indexing/">App Indexing</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>App Indexing</h3>
    Get your app's content included in Google Search.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/mobile-ads-sdk/docs/admob/android/quick-start">App Install Ads</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>App Install Ads</h3>
    Reach more users through app promotion.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/app-invites/">App Invites</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>App Invites</h3>
    Get your app's users to invite their friends.
  </div></div></div></div><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Earn</h3><div class="devsite-landing-row-item-description-callout">Tap into a
  range of tools to make more money</div>
Take a user-by-user approach to monetization that maximizes your app
  revenue.
<div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/admob/android/">AdMob</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>AdMob</h3>
    Drive more in-app purchases and maximize ad revenues.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="http://developer.android.com/google/play/billing/index.html">In-App
      Billing and Subscriptions</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>In-App Billing and Subscriptions</h3>
    Make money selling digital content within your mobile app.
  </div></div><div class="devsite-landing-row-item-description-feature"><div class="devsite-landing-row-item-description-feature-link"><a href="/android-pay/">Android Pay</a></div><div class="devsite-landing-row-item-description-feature-tooltip"><h3>Android Pay</h3>
    Add simple and easy payments for your physical goods and services.
  </div></div></div></div></section><section class="devsite-landing-row devsite-landing-row-1-up"><h2>Latest updates for Android developers</h2><div class="devsite-landing-row-item
  "><div class="devsite-landing-row-item-youtube
                "><iframe data-autohide="1" frameborder="0" data-showinfo="0" allowfullscreen="" class="devsite-embedded-youtube-video" data-enablejsapi="1" src="//www.youtube.com/embed/M3Udfu6qidk?list=PLWz5rJ2EKKc9Qk1_iCZNbBp6adYnJf9Vf&amp;autohide=1&amp;showinfo=0&amp;enablejsapi=1" id="ytplayer0" origin="https://developers.google.com"></iframe></div><div class="devsite-landing-row-item-description
                "><h4>Google Play services 7.8 available now!</h4> Google Play Services 7.8 adds new APIs for Nearby Messages and Mobile Vision, and new features in GCM. Check it out! <div class="devsite-landing-row-item-buttons"><a href="//android-developers.blogspot.com/2015/08/google-play-services-78-lets-see-whats.html" class="button button-white">Play Services 7.8 Announcement</a></div><h4>Google Play services 7.5 available now!</h4> We’ve completed the rollout of Google Play services 7.5 and have an updated SDK available now via the Android SDK Manager. <div class="devsite-landing-row-item-buttons"><a href="//android-developers.blogspot.com/2015/05/a-closer-look-at-google-play-services-75.html" class="button button-white">Play Services 7.5 Announcement</a></div></div></div></section><section class="devsite-landing-row devsite-landing-row-3-up"><h2>More ways to enhance your app</h2><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Use location to power context</h3>




      Respond to where users are and what they're doing. Enrich your app with high-accuracy location reporting, geofencing, and activity recognition.




      <div class="devsite-landing-row-item-buttons"><a href="http://developer.android.com/training/location/index.html" class="button button-white">
          Location Awareness
        </a></div></div></div><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Stream content to TVs and speakers</h3>




      Let users send audio and visual content to any Cast-enabled TV or speaker and control it from their phones or tablets.




      <div class="devsite-landing-row-item-buttons"><a href="/cast/docs/android_sender" class="button button-white">
          Google Cast
        </a></div></div></div><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Add social features to your games</h3>




      Enhance your games and learn more about your players. Add achievements, leaderboards, saved games, real-time multiplayer, and more.




      <div class="devsite-landing-row-item-buttons"><a href="/games/services/" class="button button-white">
          Google Play Game Services
        </a></div></div></div></section><section class="devsite-landing-row devsite-landing-row-3-up"><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Enhance your app for fitness</h3>




      Participate in the fitness ecosystem and add high-engagement features to your app. Analyze raw sensor data or take advantage of shared fitness data.




      <div class="devsite-landing-row-item-buttons"><a href="/fit/android/" class="button button-white">
          Google Fit
        </a></div></div></div><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Store and manage files in the cloud</h3>




      Let users interact with nearly any aspect of their Google Drive content, including sharing permissions, file revisions, and connected apps.




      <div class="devsite-landing-row-item-buttons"><a href="/drive/android/" class="button button-white">
          Google Drive
        </a></div></div></div><div class="devsite-landing-row-item

            devsite-landing-row-item-no-image
  "><div class="devsite-landing-row-item-description
                "><h3>Support voice actions</h3>




      Let users engage with your app quickly and conveniently through voice commands. Respond to system actions or add custom actions of your own.




      <div class="devsite-landing-row-item-buttons"><a href="/voice-actions/" class="button button-white">
          Voice Actions
        </a></div></div></div></section>



<div class="devsite-content-footer">



    <p>Except as otherwise noted, the content of this page is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>, and code samples are licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a>. For details, see our <a href="/site-policies">Site Policies</a>.</p>





    <p class="devsite-content-footer-date" itemprop="datePublished" content="2015-08-13T20:02:27.494170">

      Last updated August 13, 2015.
    </p>


</div>

        </div>
      </article>


          </div>


<footer class="devsite-footer"><nav class="devsite-full-site-width"><ul class="devsite-footer-row"><li class="devsite-footer-linkbox devsite-footer-flex"><h3 class="devsite-footer-linkbox-heading hide-from-toc"><img class="devsite-footer-linkbox-icon" src="//www.gstatic.com/images/icons/material/system/2x/people_black_24dp.png">Connect
          </h3><ul><li class="devsite-footer-linkbox-item"><a href="//android-developers.blogspot.com/" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Android Developers Blog
              </a></li><li class="devsite-footer-linkbox-item"><a href="//plus.google.com/+AndroidDevelopers/posts" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                +Android Developers
              </a></li><li class="devsite-footer-linkbox-item"><a href="//twitter.com/androiddev" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                @AndroidDev on Twitter
              </a></li></ul></li><li class="devsite-footer-linkbox devsite-footer-flex"><h3 class="devsite-footer-linkbox-heading hide-from-toc"><img class="devsite-footer-linkbox-icon" src="//www.gstatic.com/images/icons/material/system/2x/build_black_24dp.png">Tools
          </h3><ul><li class="devsite-footer-linkbox-item"><a href="/android/guides/overview" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Google Play Services
              </a></li><li class="devsite-footer-linkbox-item"><a href="//developer.android.com/tools/index.html" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Android Studio
              </a></li><li class="devsite-footer-linkbox-item"><a href="//developer.android.com/sdk/index.html" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Android SDK
              </a></li></ul></li><li class="devsite-footer-linkbox devsite-footer-flex"><h3 class="devsite-footer-linkbox-heading hide-from-toc"><img class="devsite-footer-linkbox-icon" src="//www.gstatic.com/images/icons/material/system/2x/add_circle_black_24dp.png">More Resources
          </h3><ul><li class="devsite-footer-linkbox-item"><a href="//developer.android.com/index.html" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Android Developers
              </a></li><li class="devsite-footer-linkbox-item"><a href="//play.google.com/apps/publish/" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Google Play Developer Console
              </a></li><li class="devsite-footer-linkbox-item"><a href="//www.google.com/design/" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Google Design
              </a></li><li class="devsite-footer-linkbox-item"><a href="/android/nexus/images" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Nexus Factory Images
              </a></li><li class="devsite-footer-linkbox-item"><a href="/android/nexus/drivers" class="devsite-footer-linkbox-title gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Content Page Footer Linkbox">
                Nexus Binaries
              </a></li></ul></li></ul></nav></footer><footer class="devsite-site-footer"><nav class="devsite-site-footer-nav devsite-nav devsite-full-site-width"><ul class="devsite-site-footer-column-list"><li class="devsite-site-footer-column"><ul class="devsite-site-footer-list"><li class="devsite-site-footer-item"><h3>Connect</h3></li><li class="devsite-site-footer-item"><a href="https://events.google.com/io2015/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer I/O Link">Google I/O</a></li><li class="devsite-site-footer-item"><a href="https://googledevelopers.blogspot.com/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Blog Link">Blog</a></li><li class="devsite-site-footer-item"><a href="https://www.facebook.com/pages/Google-Developers/967415219957038" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Facebook Link">Facebook</a></li><li class="devsite-site-footer-item"><a href="https://plus.google.com/+GoogleDevelopers/posts" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer G+ Link">Google+</a></li><li class="devsite-site-footer-item"><a href="https://twitter.com/googledevs" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Twitter Link">Twitter</a></li><li class="devsite-site-footer-item"><a href="https://www.youtube.com/user/GoogleDevelopers" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer YouTube Link">YouTube</a></li></ul></li><li class="devsite-site-footer-column"><ul class="devsite-site-footer-list"><li class="devsite-site-footer-item"><h3>Programs</h3></li><li class="devsite-site-footer-item"><a href="https://www.womentechmakers.com/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Women Techmakers">Women Techmakers</a></li><li class="devsite-site-footer-item"><a href="/groups/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Groups">Google Developer Groups</a></li><li class="devsite-site-footer-item"><a href="/experts/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Experts">Google Developer Experts</a></li><li class="devsite-site-footer-item"><a href="/startups/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Startups">Startup Launchpad</a></li></ul></li><li class="devsite-site-footer-column"><ul class="devsite-site-footer-list"><li class="devsite-site-footer-item"><h3>Careers</h3></li><li class="devsite-site-footer-item"><a href="https://www.google.com/about/careers/teams/client-facing/dev-rel/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer careers">Developer Relations</a></li><li class="devsite-site-footer-item"><a href="https://www.google.com/about/careers/teams/engineering/swe/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer SWE careers">Software Engineering</a></li><li class="devsite-site-footer-item"><a href="https://www.google.com/about/careers/teams/product-management/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer PM careers">Product Management</a></li><li class="devsite-site-footer-item"><a href="https://www.google.com/about/careers/teams/ops-support/technical-writing/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer TW careers">Technical Writing</a></li><li class="devsite-site-footer-item"><a href="https://www.google.com/about/careers/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer more careers">See More</a></li></ul></li><li class="devsite-site-footer-column"><ul class="devsite-site-footer-list"><li class="devsite-site-footer-item"><h3>Explore</h3></li><li class="devsite-site-footer-item"><a href="/android/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Android">Android</a></li><li class="devsite-site-footer-item"><a href="/ios/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer iOS">iOS</a></li><li class="devsite-site-footer-item"><a href="/web/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Web">Web</a></li><li class="devsite-site-footer-item"><a href="/games/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Games">Games</a></li><li class="devsite-site-footer-item"><a href="/products/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Products">All Products</a></li></ul></li></ul></nav></footer><footer class="devsite-utility-footer"><nav class="devsite-utility-footer-nav devsite-nav devsite-full-site-width"><span class="devsite-utility-footer-links"><a href="/site-terms/">Terms</a>
      &nbsp; | &nbsp;

      <a href="https://www.google.com/intl/en/privacy/" class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Privacy Link">Privacy</a></span><form class="devsite-utility-footer-language" id="setlang" action="/i18n/setlang/" method="post"><input type="hidden" name="xsrf_token" value="jRqobCDQ643Qa2z8HOSyDEVVW60PzptZBZnLiVBn4nE6MTQ0MDY4OTk3MzQ5NzY3MA"><select id="footer_language" name="language" style="display: none;"><option value="ar">
            العربيّة
          </option><option value="bg">
            български
          </option><option value="ca">
            català
          </option><option value="zh-cn">
            简体中文
          </option><option value="zh-tw">
            繁體中文
          </option><option value="hr">
            Hrvatski
          </option><option value="cs">
            česky
          </option><option value="da">
            dansk
          </option><option value="nl">
            Nederlands
          </option><option value="en" selected="selected">
            English
          </option><option value="fa">
            فارسی
          </option><option value="fi">
            suomi
          </option><option value="fr">
            français
          </option><option value="de">
            Deutsch
          </option><option value="el">
            Ελληνικά
          </option><option value="he">
            עברית
          </option><option value="hi">
            Hindi
          </option><option value="hu">
            Magyar
          </option><option value="id">
            Bahasa Indonesia
          </option><option value="it">
            italiano
          </option><option value="ja">
            日本語
          </option><option value="ko">
            한국어
          </option><option value="lv">
            latviešu
          </option><option value="lt">
            Lietuviškai
          </option><option value="nb">
            norsk (bokmål)
          </option><option value="nn">
            norsk (nynorsk)
          </option><option value="pl">
            polski
          </option><option value="pt-br">
            Português Brasileiro
          </option><option value="pt">
            Português
          </option><option value="ro">
            Română
          </option><option value="ru">
            Русский
          </option><option value="sr">
            српски
          </option><option value="sk">
            slovenský
          </option><option value="sl">
            Slovenščina
          </option><option value="es">
            español
          </option><option value="sv">
            svenska
          </option><option value="th">
            ภาษาไทย
          </option><option value="tr">
            Türkçe
          </option><option value="uk">
            Українська
          </option><option value="vi">
            Tiếng Việt
          </option></select><span class="kd-button kd-menubutton kd-select"><div style="display: inline-block;"><div class="label" style="float: left;">
            English
          </div><div class="kd-disclosureindicator"></div></div></span></form></nav></footer></div><script async="" defer="" src="//www.gstatic.com/feedback/api.js"></script><script id="jqueryui" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script><script src="https://developers.google.com/_static2/1fca726080/jsi18n/?hl=en"></script><script src="https://developers.google.com/_static/1fca726080/js/script_foot_closure.js"></script><script src="https://developers.google.com/_static/1fca726080/js/script_foot.js"></script><script>
        devsite.timing.tick('jl');
        (function($) {
          devsite.devsite.Init($, 'devsite',
              '[]', '',
              'en', true,
              '1fca726080', 'rohtashpoonia644@gmail.com',
              true,
              {"722f3a06f031e904ae074aa731257435": false, "6749dcb526ce9bde6993550c7d928d24": true, "993b1906435224595bd618f6f331ee45": true, "b8feb4e3293a0e503a7ce02689f5de25": false}, '/android');
        })(jQuery);


        devsite.localInit = function() {

        };
      </script><script>
      $('#setlang select').each(function() {
        if (navigator.userAgent.match(/msie/i)) {
          $(this).change(function() {
            $('#setlang').submit();
          });
        } else {
          $(this).kdSelect({'change': function() {
            $('#setlang').submit();
          }});
        }
      });
      </script><script>
        /* <![CDATA[ */
        var google_conversion_id = 992540712;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "qio2CKCPwQMQqPCj2QM";
        var google_conversion_value = 0;
        /* ]]> */
      </script><script src="//www.googleadservices.com/pagead/conversion.js"></script><img height="1" width="1" border="0" alt="" src="https://www.googleadservices.com/pagead/conversion/992540712/?random=1440689976553&amp;cv=8&amp;fst=1440689976553&amp;num=1&amp;fmt=3&amp;value=0&amp;label=qio2CKCPwQMQqPCj2QM&amp;bg=ffffff&amp;hl=en&amp;guid=ON&amp;eid=317150505&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=1&amp;u_tz=330&amp;u_java=true&amp;u_nplug=15&amp;u_nmime=101&amp;frm=0&amp;url=https%3A//developers.google.com/android/&amp;ref=https%3A//developers.google.com/"><script src="https://www.googleadservices.com/pagead/conversion/992540712/?random=1440689976553&amp;cv=8&amp;fst=1440689976553&amp;num=1&amp;fmt=4&amp;adtest=on&amp;value=0&amp;label=qio2CKCPwQMQqPCj2QM&amp;bg=ffffff&amp;hl=en&amp;guid=ON&amp;eid=317150505&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=1&amp;u_tz=330&amp;u_java=true&amp;u_nplug=15&amp;u_nmime=101&amp;frm=0&amp;url=https%3A//developers.google.com/android/&amp;ref=https%3A//developers.google.com/"></script><noscript>&lt;img height="1" width="1" src="//www.googleadservices.com/pagead/conversion/992540712/?label=qio2CKCPwQMQqPCj2QM&amp;amp;guid=ON&amp;amp;script=0"&gt;</noscript><script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=aclknqcuyds7o"></script></div><ul class="kd-menulist" style="display: none; position: absolute; top: 2100px; right: auto; bottom: auto; left: 1527.203125px; height: 512px; padding: 0px;"><li class="kd-menulistitem">
            العربيّة
          </li><li class="kd-menulistitem">
            български
          </li><li class="kd-menulistitem">
            català
          </li><li class="kd-menulistitem">
            简体中文
          </li><li class="kd-menulistitem">
            繁體中文
          </li><li class="kd-menulistitem">
            Hrvatski
          </li><li class="kd-menulistitem">
            česky
          </li><li class="kd-menulistitem">
            dansk
          </li><li class="kd-menulistitem">
            Nederlands
          </li><li class="kd-menulistitem selected">
            English
          </li><li class="kd-menulistitem">
            فارسی
          </li><li class="kd-menulistitem">
            suomi
          </li><li class="kd-menulistitem">
            français
          </li><li class="kd-menulistitem">
            Deutsch
          </li><li class="kd-menulistitem">
            Ελληνικά
          </li><li class="kd-menulistitem">
            עברית
          </li><li class="kd-menulistitem">
            Hindi
          </li><li class="kd-menulistitem">
            Magyar
          </li><li class="kd-menulistitem">
            Bahasa Indonesia
          </li><li class="kd-menulistitem">
            italiano
          </li><li class="kd-menulistitem">
            日本語
          </li><li class="kd-menulistitem">
            한국어
          </li><li class="kd-menulistitem">
            latviešu
          </li><li class="kd-menulistitem">
            Lietuviškai
          </li><li class="kd-menulistitem">
            norsk (bokmål)
          </li><li class="kd-menulistitem">
            norsk (nynorsk)
          </li><li class="kd-menulistitem">
            polski
          </li><li class="kd-menulistitem">
            Português Brasileiro
          </li><li class="kd-menulistitem">
            Português
          </li><li class="kd-menulistitem">
            Română
          </li><li class="kd-menulistitem">
            Русский
          </li><li class="kd-menulistitem">
            српски
          </li><li class="kd-menulistitem">
            slovenský
          </li><li class="kd-menulistitem">
            Slovenščina
          </li><li class="kd-menulistitem">
            español
          </li><li class="kd-menulistitem">
            svenska
          </li><li class="kd-menulistitem">
            ภาษาไทย
          </li><li class="kd-menulistitem">
            Türkçe
          </li><li class="kd-menulistitem">
            Українська
          </li><li class="kd-menulistitem">
            Tiếng Việt
          </li></ul><!-- END DIV.WRAPPER --><span id="devsite-request-elapsed" data-request-elapsed="123.430013657"></span>
<div id="contain-402"></div><script src="//survey.g.doubleclick.net/gk/prompt?t=a&amp;site=aclknqcuyds7o&amp;random=1440689976955&amp;ref=https%3A%2F%2Fdevelopers.google.com%2F"></script></body></html>
