<!DOCTYPE html>
<html dir="ltr" lang="en-US" style="overflow: hidden;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=10"><meta charset="utf-8"><meta name="GENERATOR" content="Microsoft SharePoint"><meta http-equiv="Expires" content="0">

		<title>Welcome To Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/init.js"></script>
		<script type="text/javascript" src="js/ScriptResource.axd"></script>
		<script type="text/javascript" src="js/blank.js"></script>
		<script type="text/javascript" src="js/ScriptResource(1).axd"></script>
		<!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
		<!-- <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> -->

		<script type="text/javascript" src="js/commonScript.js"></script>
		</head>
	<body style="overflow: hidden;">

		<div id="imgPrefetch" style="display:none">
			<img src="resources/favicon.ico">
		</div>
		<div id="s4-workspace">
				<div id="s4-bodyContainer">
				<div id="ctl00_DeltaPlaceHolderMain">
				<div class="customWidth">
					<div id="s4-titlerow" style="display:none !important;">
						<div class="ms-dialogHidden" style="display:none !important">
							<h1 id="pageTitle" class="ms-core-pageTitle">
								<div class="ms-displayInlineBlock ms-normalWrap">
									<a href="javascript:;" id="ms-pageDescriptionDiv" style="display:none;">
										<span id="ms-pageDescriptionImage">&nbsp;</span>
									</a>
									<span class="ms-accessible" id="ms-pageDescription">

									</span>
									<script type="text/javascript"></script>
								</div>
							</h1>
						</div>
					</div>


					<div id="contentBox">

							<div id="pageFull">
								<div class="section active forScroll" style="height: 955px;">
									<span>
										<div class="strip">
											<div class="innerStrip">

											<a href="/" tabindex="1" title="Home tab"><span><i class="fa fa-sitemap"></i>Home</span></a>
											<a href="/login" tabindex="2" title="Local Sign In"><span><i class="fa fa-sign-in"></i>Sign In</span></a>
											<a href="/signup" tabindex="3" title="local Sign Up"><span><i class="fa fa-globe"></i>Sign Up</span></a>
											<a href="/auth/google" tabindex="4" title="Google Auth"><span><i class="fa fa-globe"></i>Google Login</span></a>
											<a href="/auth/twitter" tabindex="5" title="Twitter Auth"><span><i class="fa fa-globe"></i>Twitter Login</span></a>

											</div>

											<div class="strip_button"><i class="fa fa-cog"></i>
											</div>
										</div>
									</span>

						       		    <div id="header" class="header">
								        <a href="/">	<img src="resources/logo.png" alt="" id="ashoklogo"></a>
											<div class="deptName">
								           <span>Jhansal Rajasthan</span>
								                      <span>Web Portal</span>
											</div>
										</div>
								        <div class="navIndex">
								            <ul class="menu2_ul Hmenu">

																<li class="menu2_li Smenu">
								                    <a><i class="fa fa-home"></i> <span>Jhansal</span></a>
								                    <div class="level2 Smenudiv nav1Img" style=" width:320px;display: none;">
								                        <div class="menu_left">
								                            <ul>
								                                <li><a href="">&nbsp;&nbsp;Gram Panchayat Jhansal &amp; Universities</a></li>
								                                <li><a href="">&nbsp;&nbsp;Net Nahar Singh Commity</a></li>
								                                <li><a href="">&nbsp;&nbsp;Socity bank Jhansal</a></li>
								                                <li><a href="">&nbsp;&nbsp;others</a></li>

								                            </ul>
								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">Village News, Media, and Resources</p>
								                    </div>
								                </li>
																<li class="menu2_li Smenu">
								                    <a><i class="fa fa-bell"></i> <span>Temples</span></a>
								                    <div class="level2 Smenudiv nav4Img" style="width:320px;display: none;">
								                        <div class="menu_left">
								                            <ul>
								                                <li><a href="">&nbsp;&nbsp;Shiv Ji Mandir</a></li>
								                                <li><a href="">&nbsp;&nbsp;Dada NetNahar Singh</a></li>

								                            </ul>
								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">News, Media, and Resources</p>
								                    </div>
								                </li>
								                <li class="menu2_li Smenu">
								                    <a ><i class="fa fa-graduation-cap"></i> <span>Education</span></a>
								                    <div class="level2 Smenudiv nav4Img" style="width:320px;display: none;">
								                        <div class="menu_left">
								                            <ul>
								                                <li><a href="">&nbsp;&nbsp;Colleges &amp; Universities</a></li>
								                                <li><a href="">&nbsp;&nbsp;Educational Resources</a></li>
								                                <li><a href="">&nbsp;&nbsp;Libraries</a></li>
								                                <li><a href="">&nbsp;&nbsp;Rajasthan History For Kids</a></li>
								                                <li><a href="">&nbsp;&nbsp;School Education</a></li>
								                            </ul>
								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">Education News, Media, and Resources</p>
								                    </div>
								                </li>

								                <li class="menu2_li Smenu">
								                    <a ><i class="fa fa-user-secret"></i> <span>Visiting</span></a>
								                    <div class="level2 Smenudiv nav6Img" style="width:320px;display: none;">
								                        <div class="menu_left">
								                            <ul>
								                            	 <li><a href="">&nbsp;&nbsp;Arts &amp; Leisure</a></li>
								                            	<li><a href="">&nbsp;&nbsp;Cars &amp; Transportation</a></li>
								                                <li><a href="">&nbsp;&nbsp;Newcomers Guide</a></li>
								                                <li><a href="">&nbsp;&nbsp;Highway Information</a></li>
								                                <li><a href="">&nbsp;&nbsp;Places To Visit</a></li>
								                                <li><a href="">&nbsp;&nbsp;Sports &amp; Recreations</a></li>
								                                <li><a href="">&nbsp;&nbsp;Travel &amp; Tourism</a></li>
								                            </ul>
								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">Visiting Jhansal News,Media and Resources</p>
								                    </div>
								                </li>
								                <li class="menu2_li Smenu">
								                    <a ><i class="fa fa-globe"></i> <span>About-Jhansal</span></a>
								                    <div class="level2 Smenudiv nav7Img" style="width:320px;display: none;">
								                        <div class="menu_left">
								                            <ul>
								                                <li><a href="">&nbsp;&nbsp;Arts And Culture</a></li>
								                                <li><a href="">&nbsp;&nbsp;Demographics &amp; Statistics</a></li>
								                                <li><a href="">&nbsp;&nbsp;Land &amp; Environment</a></li>
								                                <li><a href="">&nbsp;&nbsp;Jhansal History</a></li>
								                                <li><a href="">&nbsp;&nbsp;Jhansal Maps</a></li>
								                                <li><a href="">&nbsp;&nbsp;State Symbols</a></li>
								                            </ul>
								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">About Jhansal News, Media, and Resources</p>
								                    </div>
								                </li>
								                <li class="menu2_li Smenu">
								                    <a ><i class="fa fa-share-alt"></i> <span>Connect</span></a>
								                    <div class="level2 Smenudiv nav8Img" style="width:320px;display: none;">
								                        <div class="menu_left">
																<ul>
																    <li><a href="">&nbsp;&nbsp;Contact Us</a></li>
																    <li><a href="">&nbsp;&nbsp;Faq</a></li>
																    <li><a href="">&nbsp;&nbsp;Accessibility Options</a></li>
																    <li><a href="">&nbsp;&nbsp;Media Gallery</a></li>
																</ul>								                          								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">view more Social Connections Resources</p>
								                    </div>
								                </li>
								                <li class="menu2_li Smenu">
								                    <a ><i class="fa fa-support"></i> <span>Services</span></a>
								                    <div class="level2 Smenudiv nav9Img" style="width:320px;display: none;">
								                        <div class="menu_left">
								                            <ul>
																<li><a href="">&nbsp;&nbsp; Water / Electricity Bill News<img src="resources/new1.png" alt="Business" style="float:right; width: 100px; height: 27px;margin:0% -1%;0; 10%"></a></li>
																<li><a href="">&nbsp;&nbsp;Open chat Room</a></li>
																<li><a href="">&nbsp;&nbsp;Fee and Government Levies</a></li>
																<li><a href="">&nbsp;&nbsp;Application Submission of Various Things.</a></li>
								                            </ul>
								                        </div>
								                        <div class="menu_right">
								                            <div class="menu_rightImg"></div>
								                        </div>
								                        <p style="background:rgba(0, 0, 0, 0.5);">view more jhansal.herokuapp.com Online Services</p>
								                    </div>
								                </li>
											</ul>
								        </div>
							          <div class="divplaceholder">
							          		<div class="feedbacklinkl" style="display: block; height: 0px; width: 30px;">
							          			<div>
							          				<a class="popup"><img src="resources/feedback.png" alt="Feedback"></a>
							          			</div>
							          			<span></span>
							          		</div>




<style type="text/css">
.forScroll {
	overflow:hidden !important;
}
#background {
    background-image: url(/images/1.jpg);
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
}
#searchInputBox{
	display:block;
}
</style>
<div class="dignitariesSection">
	<div id="social" class="latestNewsLink">
		<div class="searchPanel1">


			<ul class="slideshow">
				<li><span style="background-image: url(images/1.jpg);">Image 01</span></li>
				<li><span style="background-image: url(images/2.jpg);">Image 02</span></li>
				<!-- <li><span style="background-image: url(images/3.jpg);">Image 03</span></li>
				<li><span style="background-image: url(images/4.jpg);">Image 04</span></li>
				<li><span style="background-image: url(images/5.jpg);">Image 05</span></li>
				<li><span style="background-image: url(images/6.jpg);">Image 06</span></li> -->
			</ul>
         </div>
     </div>
</div>
<div class="cm_img" style :"width:auto">
		<a href="https://www.google.co.in/maps/place/Jhansal,+Rajasthan+335511/@29.1918465,75.3875014,16z/data=!3m1!4b1!4m2!3m1!1s0x3913dd1e25f6059b:0xffb02251ca62943">
			<img src="resources/map_img.png" alt="" border="0">
			<span>Map Of Jhansal</span>
		</a>
</div>



<div class="scroller" style="color:#FFF;">
	<div id="homenews" class="slide_container" style="position:relative;overflow:hidden;height:26px;">
		<div class="slide_container" style="position: relative; overflow: hidden; height: 36px;">
			<ul class="slide" style="height: 0px; width: 3840px; position: absolute; left: -210.698168517205px;">
				<li><a href="" target="_blank" style="color:#fff;">skdsadsldjsdl </a></li>
				<li><a href="" target="_blank" style="color:#fff;">ghjghjgj </a></li>
				<li><a href="" target="_blank" style="color:#fff;">dfgfdgfg </a>
				</li><li><a href="" target="_blank" style="color:#fff;">ghgh</a></li>
				<li><a href="" target="_blank" style="color:#fff;">dsds </a></li></ul></div></div>
   	<div class="clockdiv">


<script type="text/javascript">
    var Cdate = new Date();

    $(document).ready(function () {
        var Edate = new Date($('.dateCls').text() + "Z");
        Cdate = Edate;

        var idleInterval = setInterval(timerIncrement, 1000);
        $(".clockdiv").show();
    });
    function timerIncrement() {
        Cdate.setTime(Cdate.getTime() + 1000);
        var hours = Cdate.getUTCHours();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12;
        $('.timercla').text(("0" + hours).slice(-2) + ":" + ("0" + Cdate.getUTCMinutes()).slice(-2) + ":" + ("0" + Cdate.getUTCSeconds()).slice(-2) + " " + ampm);
    }

</script>
<div class="light" style="font-size:147%; color:#fff;">
    <div>
        <span id="ctl00_PlaceHolderMain_Time_lblTime" class="timercla">02:01:09 PM</span>
        <span id="ctl00_PlaceHolderMain_Time_lblDate" class="dateCls" style="display:none;">2015-08-28T13:57:56</span>
        .
    </div>

</div>
<div style="width: 250px;float: right; font-size: 147%; margin: -5px 1px -23px 0px;">
     <span id="ctl00_PlaceHolderMain_Time_lblDispDate">Friday, August 28, 2015</span>


</div>

	</div>
</div>
<div id="section_0" class="scroll_button"><a >More &nbsp; &nbsp;<i class="fa fa-angle-double-down"></i></a></div>
    	<a  class="page0a"></a>

</div></div>
<div id="pageHeight" class="section demo-wrapper forScroll" style="height: 911px;">
	<div id="heading"><h1>Quick Links</h1></div>
        <div class="TileContenor">
            <div class="quickLinks">
                <ul>

                    <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-directory-page">
                        <a >
                            <span class="icon_img"><i class="fa fa-suitcase"></i></span>
                            <span class="linkTxt">
                                <h3>Dada NetNahar Singh</h3>
                            </span>
                        </a>
                    </li>
                    <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-directory-page">
                        <a >
                            <span class="icon_img"><i class="fa fa-cubes"></i></span>
                            <span class="linkTxt">
                                <h3>Shiv Mandir</h3>
                            </span>
                        </a>
                    </li>
                    <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-directory-page">
                        <a >
                            <span class="icon_img"><i class="fa fa-mortar-board"></i></span>
                            <span class="linkTxt">
                                <h3>Colleges &amp; Universities</h3>
                            </span>
                        </a>
                    </li>
                    <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-directory-page">
                        <a >
                            <span class="icon_img"><i class="fa fa-home"></i></span>
                            <span class="linkTxt">
                                <h3>Health &amp; Social Services</h3>
                            </span>
                        </a>
                    </li>

                    <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-directory-page">
                        <a >
                            <span class="icon_img"><i class="fa fa-crosshairs"></i></span>
                            <span class="linkTxt">
                                <h3>Art and Culture</h3>
                            </span>
                        </a>
                    </li>
                    <li class="tile tile-big tile-1 slideTextUp" data-page-type="r-page" data-page-name="random-directory-page">
                        <a >
                            <span class="icon_img"><i class="fa fa-picture-o"></i></span>
                            <span class="linkTxt">
                                <h3>Media Gallery</h3>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
		</div>
		<div class="directory-page random-directory-page">
                <div class="page-content">
                    <div class="page-title"></div>
                    <div class="content"></div>
                </div>
            	<div class="close-button r-close-button">x</div>
            </div>


       		<footer class="fixedStyle" style="position: relative;">

											<div class="wrapper">
								                <div class="flex-item">
								                    <h4 id="footerHelp" class="footer-title"><a >Help</a>	</h4>
								                    <ul>
														<li><a href="https://www.facebook.com/rohtashpoonia6" target="_blank" rel="external">Facebook Link</a></li>
								                        <li><a href="https://www.google.co.in/maps/place/Jhansal,+Rajasthan+335511/@29.1918465,75.3875014,16z/data=!3m1!4b1!4m2!3m1!1s0x3913dd1e25f6059b:0xffb02251ca62943" rel="external">Jhansal Maps</a></li>
								                    </ul>
								                </div>
								                <div class="flex-item"> <h4 id="footerAlerts" class="footer-title"><a >Alerts</a></h4>
								                    <ul>
														 <li><a  target="_blank" rel="external">Jhansal Sampark</a></li>
														 <li><a  target="_blank" rel="external">Emergency Help</a> </li>
														 <li><a  target="_blank" rel="external"> Road/travel info</a></li>
														 <li><a  target="_blank" rel="external">Traffic Mobile Alerts</a></li>
														 <li><a >Weather And Agromet</a></li>
								                     </ul>
								                </div>
								                <div class="flex-item">
								                    <h4 id="footerExecutive" class="footer-title"><a href="">Jhansal</a></h4>
								                    <ul>
								                        <li><a target="_blank" rel="external">	Sarpanch</a></li>
								                        <li><a target="_blank" rel="external">	Vice Sarpanch</a></li>
								                        <li><a  target="_blank" rel="external">Block Member</a></li>
								                        <li><a  target="_blank" rel="external">district council </a></li>
														<li><a 	Net Nahar Singh Commity </a></li>
														<li><a >	MLA</a></li>
								                        <li><a  >Cheif Minister</a></li>
								                    </ul>
								                </div>
								                <div class="flex-item">
								                    <h4 id="footerAwards" class="footer-title"><a >Achievements of our village</a></h4>
													<ul>
														<li><a >Student Achievements  </a></li>
														<li><a >Sarpanch Achievements  </a></li>
														<li><a >Net Nahar Singh Commity Achievements  </a></li>
														<li><a >peoples Achievements  </a></li>
													</ul>
								                </div>
											</div>
										</footer>

		<div id="section_1" class="scroll_top"><a ><i class="fa fa-angle-double-up" tabindex="0"></i></a></div>
		<a class="page1a"></a>
	  </div>

							          </div>
								</div>
							</div>
					</div>
				  </div>
				</div>

		<script type="text/javascript">
			$(document).ready(function(){
				resizeContent();
				$(window).resize(function() {
					resizeContent();
				});
				$('.popup').click( function(){
					 $('#Feedpopup').bPopup({
							content:'iframe', //'ajax', 'iframe' or 'image'
							contentContainer:'.Popupcontent',
							loadUrl:'/stateportalsolution/feedback.aspx?url='+ $(location).attr('href')
						});

				});
				$(".feedbacklinkl").hover(function(){
					$(this).animate({ width: "190px" });
					$(this).css('height','180px');
					$('.feedbackImg').css('display', 'block');
				}, function() {
					$(this).animate({ width: "30px" });
					$('.feedbackImg').css('display', 'none');
					$(this).css('height','0px');
				})
			});
			function resizeContent() {
				//$height = $(window).height();
				//$('body div#pageHeight').height($height);
				//alert($height);
				//$('.section').height($height);
			}
			</script>
			<script>
				$(window).bind("load", function() {
					$('.section').height($(window).height());
					var limit = $(window).height()-495;
			        //setTimeout(function(){alert($('.divplaceholder').height() +'>'+ limit );},1000);
			        //alert($('.divplaceholder').height() +'>'+ limit );
			        if($('.divplaceholder').height() >= limit ) {
			        	$('footer').css('position','relative');
			        } else {
			        	$('footer').css('position','absolute');
			        }



			     });
			      $('.divplaceholder').resize(function(){
			        	console.log("Hita");
			        });
		</script>



</form>


<script type="text/javascript">
	$(document).ready(function()
	{
		$('body').css('overflow','hidden');
		$('html').css('overflow','hidden');
		$(".scroll_button").click(function(event){event.preventDefault();scrollpagedown()});
		$(".scroll_top").click(function(event){event.preventDefault();scrollpageup()});
		$(".scroll_button").focusin(function(event){event.preventDefault();scrollpagedown()});

		// getnews();
		setInterval(loadimg(), 9000);
		setTimeout(loadimg,5000);
	});
	var imgnum=1;
	function loadimg(){
   		if(imgnum > 2){imgnum=1;}
		$('.slideshow').find("li:nth-child("+imgnum+")").find("span").css("background-image", "url(images/"+imgnum+".jpg)");
		imgnum++;
		// setTimeout(loadimg,9000);
	}
	$(document).keydown(function(event) {
		if(event.which  == 38 || event.which  == 33){event.preventDefault();scrollpageup()}
		else if(event.which  == 40 || event.which  == 34){event.preventDefault();scrollpagedown()}
	});
	$(document).bind('mousewheel DOMMouseScroll MozMousePixelScroll', function(event) {
	    event.preventDefault();
	    var delta = event.originalEvent.wheelDelta || -event.originalEvent.detail;
		init_scroll(event, delta);
	});
	var lastAnimation =0;
	function init_scroll(event, delta) {
	   var timeNow = new Date().getTime();
	   if(timeNow - lastAnimation < 1000) {event.preventDefault();return;}
	   if (delta < 0) {scrollpagedown()}
	   else {scrollpageup()}
	   lastAnimation = timeNow;
	}
	function resizeContent() {
	   $height = $(window).height();
	   $('body div#pageHeight').height($height);
	}
	function scrollpagedown(){$('html, body').animate({scrollTop: $(".demo-wrapper").offset().top}, 1000);}
	function scrollpageup(){$('html, body').animate({scrollTop: $(".active").offset().top}, 1000);}
</script>

		<div id="Feedpopup">
        <span class="button b-close"><span>X</span></span>
	<div class="Popupcontent" style="height: auto; width: auto;"></div>
</div>


</body></html>
