


body {
	background: #3e3e3e;
	color: #3e3e3e;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* html:not(.mobile) body { min-width: 840px; } */


/* TYPOGRAPHY
------------------------------------------ */
p, li {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}
p{
	color: #050A0E;
	margin-bottom: 1.5em;
	margin-top: 0;
}
ul, ol {
	color: #fff;
	margin-bottom: 1.5em;
	margin-top: 0;
}
p.lead { font-size: 26px; }

a, a.highlight {
	color: #30b55a;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all .12s ease-out;
	-moz-transition: all .12s ease-out;
	-ms-transition: all .12s ease-out;
	transition: all .12s ease-out;
}
a:hover, a.highlight:hover { color: #212121; }
a.invert { color: #3e3e3e; }
a.invert:hover { color: #30b55a; }
.current, .disabled {
	cursor: default;
	pointer-events: none;
}
a.press-item { color: inherit; }

a.back-link {
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	text-transform: inherit;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
a.back-link:before {
	background: transparent url(../images/jhansal1.png) -204px 0 no-repeat;
	content: '';
	display: inline-block;
	height: 11px;
	margin-right: 10px;
	width: 7px;
}
a.btn.back-link:before { margin-left: -2px; }
a.back-link:hover:before { background-position: -211px 0; }
a.btn.back-link:hover:before { background-position: -218px 0; }

h1, h2, h3, h4, h5 {}
h1 {
	font-size: 62px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 200;
	letter-spacing: -.048em;
}
h2 {
	font-size: 48px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 200;
	letter-spacing: -.048em;
	line-height: 1;
	margin: 0 0 .5em -.048em;
}
	h2.small, aside h2, fieldset h2 {
		font-size: 26px;
		line-height: 1.2;
	}
	h2.small { margin-bottom: 1em; }
	h2.small em { font-style: normal; }
	h2 .small {
		font-size: 17px;
		font-style: normal;
		letter-spacing: -.01em;
	}
	h2 .x-small {
		font-size: 14px;
		font-style: normal;
		letter-spacing: -.01em;
	}
	h2.small.soft {
		font-weight: 300;
		margin-bottom: .45em;
	}
	h2:not(.small) em.br { margin-top: .2em; }
	h2.with-toggle {
		display: inline-block;
		position: relative;
	}
	h2 .toggle {
		position: absolute;
		left: 100%;
		margin-left: 26px;
		top: 12px;
	}
h3 {
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	text-transform: uppercase;
}
	h3.list-header { margin-bottom: .35em; }
h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: .75em;
}
h2 + h4 { margin-top: -1em; }
h5 {}

sup {
	color: #ccc;
	font-size: 11px;
}
sup.cents {
	color: inherit;
	font-size: 48%;
	font-weight: 400;
	letter-spacing: -.01em;
	position: relative;
	top: .17em;
	vertical-align: top;
}
strike {
	position: relative;
	text-decoration: none;
}
strike:after {
	background: #a9a9a9;
	background: rgba(0,0,0,.21);
	height: 1px;
	left: -4%;
	position: absolute;
	content: '';
	top: 50%;
	width: 106%;
}

.highlight { color: #30b55a; }
strong.highlight { font-weight: 400; }
.alert { color: #c24908; }

.small {
	font-size: 75%;
	font-weight: 400;
}
.small li {
	font-size: inherit;
	font-weight: inherit;
}
.fine-print {
	color: #ccc;
	font-size: 75%;
}
.center { text-align: center; }
.light {
	color: #a9a9a9;
	font-weight: 400;
}
.soft { font-weight: 400; }
p strong.soft { font-weight: 600; }
.x-soft { font-weight: 300; }
p.small strong.x-soft { font-weight: 400; }
.br { display: block; }
.no-br { white-space: nowrap; }
.narrow {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}
.faux-link {
	border-bottom: 1px solid #ccc;
	display: inline-block;
}
.no-margin { margin: 0; }
.top-margin { margin: 1em 0 0 0; }

ol.show-nums, ol.show-nums li { list-style: decimal; }
ul.show-bulls, ul.show-bulls li { list-style: disc; }
ol.show-nums li, ul.show-bulls li { margin: 0 0 1em 2em; }

nav :not(.store-badges) li {
	display: inline-block;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	text-transform: uppercase;
}

button {
	border: none;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	-webkit-transition: all .12s ease-out;
	-moz-transition: all .12s ease-out;
	-ms-transition: all .12s ease-out;
	transition: all .12s ease-out;
}
.btn, .tag {
	border-radius: 70px;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	line-height: 21px;
	padding: 10px 21px 11px 21px;
	text-transform: uppercase;
	white-space: nowrap;
}
.btn pre {
	display: inline-block;
	font: inherit;
	margin: 0;
	white-space: inherit;
}
.btn .ios:first-letter { text-transform: lowercase; }
.btn.small {
	font-size: 12px;
	padding: 5px 13px 5px 13px;
}
.btn.x-small {
	box-shadow: inset #3e3e3e 0 0 0 1px;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.1;
	padding: 3px 8px;
	text-transform: inherit;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.btn.std {
	background: #3e3e3e;
	color: #fff;
	color: rgba(255,255,255,.93);
}
.btn.std:not(.current):not(.disabled):hover { background: #30b55a; }
.btn.std.highlight {
	color: #fff;
	color: rgba(255,255,255,.93);
	background: #30b55a;
}
.btn.std.highlight:not(.current):not(.disabled):hover { background: #3e3e3e; }
.btn.std.disabled { background-color: #ccc; }

.btn.outline {
	color: #3e3e3e;
	box-shadow: inset #3e3e3e 0 0 0 2px;
}
.btn.outline:not(.current):not(.disabled):not(.highlight):not(.light):hover {
	background: #3e3e3e;
	color: #fff;
	color: rgba(255,255,255,.93);
}
.btn.outline.light {
	box-shadow: inset #a9a9a9 0 0 0 2px;
	color: #a9a9a9;
}
.btn.outline.light:hover {
	box-shadow: inset #3e3e3e 0 0 0 2px;
	color: #3e3e3e;
}
.btn.outline.highlight {
	box-shadow: inset #30b55a 0 0 0 2px;
	color: #30b55a;
}
.btn.outline.highlight:hover {
	background: #30b55a;
	color: #fff;
	color: rgba(255,255,255,.93);
}
.btn.outline.x-small { box-shadow: inset #3e3e3e 0 0 0 1px; }
.btn.outline.x-small.light { box-shadow: inset #a9a9a9 0 0 0 1px; }
.btn.outline.x-small.highlight { box-shadow: inset #30b55a 0 0 0 1px; }

.tag {
	background: #3e3e3e;
	color: #fff;
	color: rgba(255,255,255,.93);
	cursor: inherit;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.1;
	margin-right: .25em;
	padding: 3px 8px;
	text-transform: inherit;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
.tag.light {
	background: #a9a9a9;
	color: #fff;
}
.tag.highlight {
	background: #30b55a;
	color: #fff;
	color: rgba(255,255,255,.93);
}
.tag.alert {
	background: #c24908;
	color: #fff;
	color: rgba(255,255,255,.93);
}
	.aside-group p:not(.small) .tag, .tag.vshim {
		position: relative;
		top: -2px;
	}
	.tag.vshim.v1 { top: -1px; }
	.tag.vshim.v2 { top: -2px; }
	.tag.vshim.v3 { top: -3px; }

.toggle {
	font-size: 0;
	font-weight: 400;
	position: absolute;
	left: 100%;
	margin-left: 10px;
	top: 0;
	white-space: nowrap;
}
.toggle a {
	border: 2px solid #3e3e3e;
	border-width: 2px 1px;
	display: inline-block;
	font-size: 21px;
	margin: 0;
	padding: 4px 13px 4px 11px;
}
.toggle a.current {
	background: #3e3e3e;
	color: #fff;
}
.toggle a.rupee { padding: 4px 15px 4px 10px; }
.toggle a:first-child {
	border-radius: 100px 0 0 100px;
	border-width: 2px 1px 2px 2px;
	padding: 4px 11px 4px 13px;
}
.toggle a:last-child {
	border-radius: 0 100px 100px 0;
	border-width: 2px 2px 2px 1px;
}

.tabs { font-size: 0; }
.tabs li {
	display: inline-block;
	margin: 5px 5px 0 0;
}

.vcard {
	font-size: 75%;
	font-weight: 400;
	line-height: 1.5;
}
.vcard span:not(.hide) { display: block; }
.vcard span.inline { display: inline; }
.vcard span[itemprop=name] { font-weight: 700; }
.vcard span[itemprop=name] em { padding-left: .25em; }
.vcard span[itemprop=name] em, .vcard span[itemprop=jobTitle] {
	color: #a9a9a9;
	font-style: normal;
	font-weight: 600;
}
.vcard h3 {
	font-size: inherit;
	font-weight: inherit;
	margin-top: .5em;
	text-transform: none;
}
.vcard + .vcard {
	margin-top: 1.5em;
	padding-top: 1.5em;
	position: relative;
}
.vcard + .vcard:before {
	background: #e6e6e6;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 34%;
}
.vcard + .e, .vcard + .btn {
	display: block;
	margin-top: 1.25em;
}
.vcard + .btn { display: inline-block; }

.vcard-shim { position: relative; }
.vcard-shim:after, .vcard-shim.top:before {
	background: #e6e6e6;
	content: '';
	display: block;
	height: 1px;
	margin: .75em 0;
	width: 34%;
}
.vcard-shim.top:after { display: none; }
.vcard-shim.no-line:before, .vcard-shim.no-line:after {
	background: transparent;
	margin: .5em;
}

#page {
	background: #f6f6f6;
	margin-top: 480px;
	position: relative;
	z-index: 200;
}
.col { margin: 0 auto; }
.col.outer {
	max-width: 1200px;
	padding: 0 5%;
}
.col.inner { max-width: 960px; }

#main-nav + main:not(.no-pad) { padding-top: 20px; }
#main-nav li.current { position: relative; }
#main-nav li.current:before {
	background: #30b55a;
	background: rgba(48,181,90,.84);
	border: 2px solid #f6f6f6;
	border-radius: 100%;
	box-shadow: rgba(0,0,0,.12) 0 0 0 1px, inset rgba(0,0,0,.12) 0 0 0 1px;
	content: '';
	height: 8px;
	left: 50%;
	margin: -26px 0 0 -6px;
	position: absolute;
	top: 0;
	width: 8px;
	z-index: 500;
}

main { overflow: hidden; }
main .page-group {
	padding: 1px 5%;
	position: relative;
}
main .page-group .col.inner { padding: 62px 0 60px 0; }
main .page-group:not(:first-child) .col.inner {
	border-top: 1px solid #ccc;
	border-color: rgba(0,0,0,.07);
}
main .page-group.no-border .col.inner { border-color: transparent; }

main .page-group.left .copy { margin-right: 50%; }
main .page-group.right .copy { margin-left: 50%; }
.small-copy p {
	font-size: 13px;
	font-weight: 300;
	line-height: 1.6;
}

.split-col {
	display: block;
	font-size: 0;
}
.split-col p {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	padding-right: 3%;
	vertical-align: top;
	width: 50%;
}
.split-col p + p {
	padding-right: 0;
	padding-left: 3%;
}

.flex-grid {
	display: table;
	margin-left: -2%;
	margin-right: -2%;
	width: 104%;
}
.flex-col {
	display: table-cell;
	padding: 0 2%;
	vertical-align: top;
}
.flex-grid.inline .flex-col { width: 1%; }
.flex-grid.col-3 .flex-col.span-2 { width: 66.6666%; }
.flex-grid.col-2 .flex-col { width: 50%; }
.flex-grid.col-3 .flex-col { width: 33.3333%; }
.flex-grid.col-4 .flex-col { width: 25%; }
.flex-grid.col-5 .flex-col { width: 20%; }
.flex-grid.col-6 .flex-col { width: 16.6666%; }

.flex-left {
	border-right: 1px solid #e6e6e6;
	border-right-color: rgba(0,0,0,.07);
	margin-right: 284px;
	padding-right: 5%;
}
.main-group { margin-top: 3em; }
.flex-right {
	float: right;
	width: 248px;
}
.aside-group { margin-bottom: 3em; }

/* Gradient Reuse */
.grad {
	background: -webkit-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
	background: -moz-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
	background: -ms-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
	background: linear-gradient(to bottom, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
}

/* Transition Reuse */
.press-item h2, .press-item .btn.outline, .faux-link {
	-webkit-transition: all .12s ease-out;
	-moz-transition: all .12s ease-out;
	-ms-transition: all .12s ease-out;
	transition: all .12s ease-out;
}



/* HEADER
------------------------------------------ */
#mast {
	background: #3F51B5;
	color: #fff;
	color: rgba(255,255,255,.93);
	height: 480px;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 100;
}
#logo {
	background: transparent url(../images/jhansal1.png) 0 0 no-repeat;
	float: left;
	height: 42px;
	border-width: thin;
	border-color: #fff;
	overflow: hidden;
	text-indent: 100%;
	width: 162px;
}

#mast-img {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#mast-img-bin {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#mast-img:after {
	background: -webkit-linear-gradient(top, #42A5F5 0%, #42A5F5 100%);
	background: -moz-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
	background: -ms-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
	background: linear-gradient(to bottom, #42A5F5 0%, #42A5F5 100%);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#mast h1 {
	color: #fff;
	color: rgba(255,255,255,.93);
	position: relative;
	margin-top: -1.2125em;
	top: 50%;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	z-index: 100;
}
#mast h1 em {
	color: #99eb8d;
	color: rgba(174,255,156,.75);
	display: block;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -.042em;
	margin-top: .5em;
}
#mast h1.no-buttons { margin-top: -.8125em; }
#mast h1.with-badges { margin-top: -1.4em; }

#mast-btns {
	font-size: 0;
	position: relative;
	text-align: center;
	top: 56%;
	z-index: 100;
}
#mast-btns li { margin: 0 .6em; }
#mast-btns li#mast-ios .btn:first-letter { text-transform: lowercase; }

#nav-container {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 300;
}
#nav-container .col {
	padding-top: 20px;
	padding-bottom: 20px;
}

#header-nav { float: right; }
nav.mast a {
	color: #fff;
	color: rgba(255,255,255,.93);
}
nav.mast a:hover {
	color: #99eb8d;
	color: rgba(174,255,156,.84);
}
nav.mast ul { font-size: 0; }
nav.mast li {
	line-height: 40px;
	margin-left: 1.5em;
}
nav.mast .btn {
	font-size: 14px;
	line-height: 19px;
	padding: 6px 13px 7px 14px;
}
nav.mast .btn, nav .store-badges li a {
	box-shadow: #fff 0 0 0 2px;
	box-shadow: rgba(255,255,255,.34) 0 0 0 2px;
}
nav.mast .btn:hover, nav .store-badges li a:hover {
	box-shadow: #99eb8d 0 0 0 2px;
	box-shadow: rgba(174,255,156,.84) 0 0 0 2px;
}

#main-nav {
	background: #f6f6f6;
	background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 73%, #2196F3 100%);
	background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,.98) 73%, rgba(246,246,246,.93) 100%);
	background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,.98) 73%, rgba(246,246,246,.93) 100%);
	background: linear-gradient(to bottom, #2196F3 0%, #2196F3 73%, #2196F3 100%);
	font-size: 0;
	padding: 20px 0;
	position: relative;
	text-align: center;
	z-index: 300;
}
body.nav-pin #main-nav {
	left: 0;
	padding-bottom: 10px;
	position: fixed;
	right: 0;
	top: -10px;
}
#main-nav-shadow {
	bottom: 0;
	box-shadow: rgba(0,0,0,.07) 0 0 5px, inset rgba(0,0,0,.07) 0 -1px 0;
	content: '';
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
}
#main-nav .col { position: relative; }
#pin-logo {
	background: transparent url(../images/jhansal1.png)  no-repeat;
	float: right;
	margin-top: 1%;
margin-left: 2%;
	height: 30px;
	overflow: hidden;

	width: 90px;
	z-index: 101;
}

#main-nav ul {
	margin-right: 42px;
	position: relative;
	z-index: 100;
}
#main-nav li { margin: 0 2% .2em 2%; }
#main-nav li a:not(.btn) {
	display: block;
	line-height: 41px;
}
#main-nav li:not(.current) a:not(.highlight) { color: #a9a9a9; }
#main-nav li:not(.current) a:hover { color: #3e3e3e; }
#main-nav li.current a {
	color: #3e3e3e;
	cursor: default;
}
#main-nav .btn {
	box-shadow: #30b55a 0 0 0 1px;
	box-shadow: rgba(62,169,84,.34) 0 0 0 1px;
	margin-left: -12px;
}
#main-nav .btn:hover { box-shadow: #3e3e3e 0 0 0 1px; }



/* CORE STYLES
------------------------------------------ */
.gallery {
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	width: 45%;
}
.gallery.right { right: 0; }
.gallery.left { left: 0; }
.gallery-chrome {
	overflow: hidden;
	position: absolute;
}
.gallery-chrome.iphone {
	height: 508px;
	width: 240px;
}
.gallery-chrome.iphone.large {
	height: 908px;
	width: 434px;
}
.gallery-chrome.ipad {
	height: 606px;
	width: 804px;
}
.gallery-chrome.android {
	height: 526px;
	width: 290px;
}
.gallery-chrome.wap {
	height: 448px;
	width: 250px;
}
.gallery-chrome .chrome-frame {
	background: transparent url(../_i/corp-chromes-new.png) 0 0 no-repeat;
	position: absolute;
	height: 100%;
	max-height: 608px;
	width: 100%;
}
.gallery-chrome.iphone .chrome-frame { background-position: 0 0; }
.gallery-chrome.iphone .chrome-frame img { margin: 69px 0 0 15px; }
.gallery-chrome.iphone.large .chrome-frame { background-position: -1044px 0; }
.gallery-chrome.iphone.large .chrome-frame img { margin: 103px 0 0 19px; }
.gallery-chrome.ipad .chrome-frame { background-position: -240px 0; }
.gallery-chrome.ipad .chrome-frame img { margin: 54px 0 0 69px; }
.gallery-chrome.android .chrome-frame { background-position: 0 -606px; }
.gallery-chrome.android .chrome-frame img { margin: 37px 0 0 18px; }
.gallery-chrome.wap .chrome-frame { background-position: -290px -606px; }
.gallery-chrome.wap .chrome-frame img { margin: 68px 0 0 18px; }

.gallery.full {
	height: auto;
	position: static;
	width: auto;
}
.gallery.full.flex-grid { width: 103%; }
.gallery.full .flex-col { text-align: center; }
.gallery-item {
	background: #eee;
	border-radius: 84%;
	padding-top: 84%;
	margin: 0 auto 1em auto;
	width: 84%;
}

.store-badges { font-size: 0; }
    #home .store-badges {
        position: relative;
        white-space: nowrap;
        z-index: 999;
    }
.store-badges li {
	display: inline-block;
	margin: 0 10px 0 0;
	min-width: 160px;
}
    #home .store-badges li {
        white-space: nowrap;
        margin: 0 1% 0 0;
        max-width: 184px;
        width: 32%;
    }
.store-badges li a, a.store-badge {
	border-radius: 12px;
	box-shadow: inset rgba(0,0,0,.12) 0 0 0 1px, #2ca97f 0 1px 0;
	color: #fff;
	color: rgba(255,255,255,.93);
	display: block;
	font-weight: 600;
	line-height: 1.4;
	padding: 11px 14px 10px 48px;
	position: relative;
	text-align: left;
}
a.store-badge { display: inline-block; }
.store-badges li a:hover, a.store-badge:hover {
	background: #30b55a;
	background: -webkit-linear-gradient(top, #30b55a 0%, #30b55a 100%);
	background: -moz-linear-gradient(top, #30b55a 0%, #30b55a 100%);
	background: -ms-linear-gradient(top, #30b55a 0%, #30b55a 100%);
	background: linear-gradient(to bottom, #30b55a 0%, #30b55a 100%);
}
.store-badges li em, a.store-badge em {
	display: block;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.02em;
	margin-top: -1px;
}

nav .store-badges li a, nav .store-badges li a:hover {
	background: transparent;
	text-align: left;
}
.store-badge.light {
	background: transparent;
	color: #30b55a;
	box-shadow: inset #30b55a 0 0 0 2px;
}
.store-badge.light.fill {
	background: #f6f6f6;
	background: rgba(246,246,246,.69);
}
.store-badge.light:hover {
	background: #30b55a;
	color: #fff;
	color: rgba(255,255,255,.93);
}
.store-badge.light.solo {
	padding: 11px 14px 10px 14px;
	text-align: center;
}

.store-badges a:not(.solo):before, a:not(.solo).store-badge:before {
	background: transparent url(../_i/corp-sprite.png) 0 0 no-repeat;
	content: '';
	left: 13px;
	position: absolute;
	top: 50%;
}
.store-itunes a:not(.solo):before, a:not(.solo).store-itunes:before {
	background-position: 0 -126px;
	height: 30px;
	margin-top: -17px;
	width: 24px;
}
.store-google a:not(.solo):before, a:not(.solo).store-google:before {
	background-position: -24px -126px;
	height: 28px;
	margin-top: -14px;
	width: 26px;
}
.store-windows a:not(.solo):before, a:not(.solo).store-windows:before {
	background-position: -50px -126px;
	height: 28px;
	margin-top: -14px;
	width: 26px;
}



/* FORMS
------------------------------------------ */
input, textarea {
	background: #fff;
	border: none;
	color: #131415;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input[type=text], input[type=password], textarea {
	border: none;
	border-radius: 2em;
	box-shadow: rgba(0,0,0,.07) 0 0 0 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	line-height: 1.4;
	margin: 0 0 1em 0;
	padding: .75em 1.25em;
	width: 100%;
}
input.empty { color: #ccc; }
input.small { font-size: 12px; }
textarea {
	border-radius: .5em;
	padding: 1.25em;
}
fieldset { padding-top: 2em; }
.aside-group fieldset { padding-top: 1em; }
fieldset ol { margin-bottom: .5em; }
fieldset li { font-size: 0; }
fieldset .half {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 2%;
	vertical-align: top;
	width: 48%;
}
fieldset .half + .half {
	margin-right: 0;
	margin-left: 2%;
}
fieldset p.half, fieldset div.half {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 1em;
}
label.check {
	cursor: pointer;
	display: inline-block;
	margin: 0 1em .125em 0;
	font-size: 14px;
}
label.check input {
	display: inline-block;
	font-size: 14px;
	margin: 0 .5em 0 0;
}
label.check:hover { color: #262626 }

input[type=text].error, textarea.error {
	-webkit-box-shadow: #c24908 0 0 0 0 1px, rgba(194,73,8,.26) 0 0 6px;
	-moz-box-shadow: #c24908 0 0 0 1px, rgba(194,73,8,.26) 0 0 6px;
	box-shadow: #c24908 0 0 0 1px, rgba(194,73,8,.26) 0 0 6px;
	color: #c24908;
}
em.error {
	color: #c24908;
	font-weight: 600;
}

.form-note {
	border-top: 1px solid #30b55a;
	color: #30b55a;
	margin-top: 1.25em;
	padding-top: .75em;
}
.form-note.error {
	border-top-color: #c24908;
	color: #c24908;
}


/* PAGES
------------------------------------------ */
.short-head #mast { height: 86px; }
.short-head #page { margin-top: 86px; }

.quick-tabs {
    font-size: 0;
    text-align: center;
}
.quick-tabs li {
    display: inline-block;
    font-size: 16px;
    margin: .5em;
}


/* Home */
#home-why { z-index: 208; }
#home-why .gallery-chrome.ipad {
	height: 100%;
	z-index: 100;
}
#home-why .gallery-chrome.ipad .chrome-frame { top: 21px; }
#home-why .gallery-chrome.iphone {
	bottom: -34px;
	left: 148px;
	z-index: 101;
}

#home-top-music { background: #fff; }
#home-top-music .col.inner { padding: 102px 0 84px 0; }
#home-top-music .gallery {
	overflow: hidden;
	width: 48%;
}
#home-top-music .gallery:before, #home-top-music .gallery:after {
	content: '';
	height: 62px;
	left: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 200;
}
#home-top-music .gallery:before {
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	top: 0;
}
#home-top-music .gallery:after {
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 100%);
	bottom: 0;
}
.home-art {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: rgba(255,255,255,.84) 0 0 12px 2px;
	margin-top: 120px;
	position: absolute;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	/*
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .12s ease-out;
	-moz-transition: all .12s ease-out;
	-ms-transition: all .12s ease-out;
	transition: all .12s ease-out;
	*/
}
.home-art.xl {
	height: 200px;
	width: 200px;
}
.home-art.l {
	height: 150px;
	width: 150px;
}
.home-art.m {
	height: 120px;
	width: 120px;
}
.home-art.s {
	height: 80px;
	width: 80px;
}
	.home-art#art-0 {
		right: 4%;
		top: 9%;
		z-index: 100;
	}
	.home-art#art-1 {
		right: 17%;
		top: 62%;
		z-index: 80;
	}
	.home-art#art-2 {
		right: 369px;
		top: 62%;
		z-index: 90;
	}
	.home-art#art-3 {
		right: 248px;
		top: 40%;
		z-index: 92;
	}
	.home-art#art-4 {
		right: 393px;
		top: 26%;
		z-index: 60;
	}
	.home-art#art-5 {
		right: 348px;
		top: 0%;
		z-index: 60;
	}
	.home-art#art-6 {
		right: 242px;
		top: 14%;
		z-index: 40;
	}
	.home-art#art-7 {
		right: 206px;
		top: 62%;
		z-index: 93;
	}
	.home-art#art-8 {
		right: 57px;
		top: 98%;
		z-index: 100;
	}
	.home-art#art-9 {
		right: 493px;
		top: 60%;
		z-index: 95;
	}

#home-soundtrack { z-index: 206; }
#home-soundtrack .flex-col { vertical-align: top; }
#home-soundtrack .flex-grid { margin-top: 2em; }
#home-soundtrack .flex-grid + .flex-grid { margin-top: 1em; }
#home-soundtrack h3 {
	font-size: 17px;
	letter-spacing: .021em;
	margin: .5em 0 1em 0;
}
#home-soundtrack p.light {
	font-size: 14px;
	font-weight: 300;
	padding: 0 4%;
}
.feature-icon {
	background: transparent url(../_i/corp-sprite.png) 0 0 no-repeat;
	height: 48px;
	margin: 0 auto;
	opacity: .21;
	width: 48px;
}
	.feature-icon.fi-search { background-position: -84px -42px; }
	.feature-icon.fi-browse { background-position: -132px -42px; }
	.feature-icon.fi-radio { background-position: -180px -42px; position: relative; top: 4px; }
	.feature-icon.fi-playlists { background-position: -228px -42px; }
	.feature-icon.fi-download { background-position: -276px -42px; }
	.feature-icon.fi-share { background-position: -324px -42px; }


/* Mobile */
#mobile .copy {
	height: 684px;
	margin-bottom: 6em;
	position: relative;
	z-index: 200;
}
#mobile .gallery {
	left: 0;
	width: 100%;
	z-index: 100;
}
#mobile .ipad {
	bottom: 6em;
	margin-left: -408px;
	left: 50%;
	z-index: 100;
}
#mobile .android, #mobile .iphone, #mobile .wap {
	bottom: 6em;
	left: 50%;
	margin-bottom: -21px;
}
#mobile .iphone {
	margin-left: -284px;
	margin-bottom: -26px;
	z-index: 120;
}
#mobile .android {
	margin-left: 66px;
	margin-bottom: -17px;
	z-index: 110;
}
#mobile .wap {
	bottom: 6.9em;
	left: 50%;
	margin-left: 23%;
	z-index: 105;
}
@media (min-height: 775px) {
	#mobile #mast h1 { margin-top: -.8125em; }
	#mobile #mast-btns { display: none; }
}


/* Pro */
#pro-mobile-header { display: none; }
#pro-mobile-header + .page-group .col.inner { border: none; }
#pro .page-group.gallery-large { padding-bottom: 20px; }
#pro .page-group.gallery-large .col {
	margin-bottom: 20px;
	min-height: 260px;
	padding-bottom: 30px;
	position: relative;
}
#pro .page-group.gallery-large .gallery {
	bottom: -41px;
	height: 98%;
	margin-left: 1%;
	overflow: hidden;
	position: absolute;
	width: 98%;
	z-index: 100;
}
#pro .copy {
	margin-top: 50px;
	position: relative;
	z-index: 101;
}
#pro main .page-group.right .copy { margin-left: 484px; }
#pro main .page-group.left .copy { margin-right: 484px; }
#pro .page-group.left .gallery-chrome { right: 0; }

#pro .page-group.gallery-large .col.inner { max-width: 780px; }
#pro-get-started .col.inner { padding: 84px 0 93px 0; }

#pro-pricing { background: #fff; }
#pro-pricing .flex-col { vertical-align: middle; }
.price-grid {
	border-radius: 4px;
	box-shadow: inset rgba(0,0,0,.07) 0 0 0 1px, rgba(0,0,0,.02) 0 2px 0;
	padding: 1.1em 10% 1.2em 10%;
}
.price-grid ul {
	border: 1px solid #eee;
	border-width: 1px 0;
	margin: 1.2em 0;
	padding: 1em 0;
}
.price-grid.grad ul {
	border-color: #67cb79;
	border-color: rgba(255,255,255,.17);
	color: #99eb8d;
	color: rgba(174,255,156,.84);
}
.price-grid.grad .light {
	color: #99eb8d;
	color: rgba(174,255,156,.84);
}
.price-grid.grad h2:first-child, .price-grid.grad h2.highlight {
	color: #fff;
}
.price-grid .extra { margin: 1.5em 0 0 0; }
.price-grid li, .price-grid .carrier { font-size: 14px; }
.price-grid h2:first-child { margin-bottom: .25em; }
.price-grid h2.highlight { margin-bottom: 0; }
#carrier-billing h2.highlight {
	display: inline-block;
	margin: .25em 3% .42em 3%;
}
.price-grid + p {
	margin-top: 1em;
	padding: 0 5%;
}


/* Press */
#press-releases { padding-bottom: 3em; }
.press-list { padding-top: 1em; }
.press-item {
	display: block;
	margin-bottom: 4em;
}
.press-item h3 em {
	font-size: 13px;
	font-style: normal;
	margin-left: 12px;
	text-transform: capitalize;
}
.press-item h2 { margin-bottom: .25em; }
#press-releases .press-item h2 { margin-bottom: .3em; }
.press-item br + .no-br { margin-top: .65em; }
.press-item:hover h2 { color: #30b55a; }
.press-item:hover .faux-link {
	border-color: #30b55a;
	color: #30b55a;
}
.press-item p {
	line-height: 1.6;
	margin: 0;
}


/* Team */


/* Jobs */
.job-group { padding-top: 1em; }
.job-group li { margin-bottom: .2em; }
.job-group li a {
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: table;
	padding: .4em 0;
	width: 100%;
}
.job-group li a:hover {
	background-color: #eee;
	padding: .4em .6em;
}
.job-group li strong {
	display: table-cell;
	font-size: 21px;
	font-weight: 300;
	line-height: 1.3;
	padding-right: .6em;
	vertical-align: middle;
}
.job-group li .locales {
	display: table-cell;
	line-height: 1.2;
	margin: 0;
	padding-top: .2em;
	vertical-align: middle;
	white-space: nowrap;
	width: 1%;
}
.job-group li .locales em {
	display: block;
	font-style: normal;
}

.page-group.jobs .flex-left strong:not(.soft) { font-weight: 600; }
.page-group.jobs .flex-left p+ul { margin-top: -1em; }
.page-group.jobs .flex-left li {
	list-style: disc;
	margin: 0 0 .25em 2em;
}


/* Advertise */
#leadgen-locales, #contentgen-types {
	font-size: 14px;
	margin-top: .25em;
	padding-bottom: 1em;
}


/* Single Posts */
#single-page .flex-left p:first-child + h2 { margin-top: 1em; }
#single-page h2 + p.small {
	margin-top: -1em;
	margin-bottom: 3em;
}
#single-page aside h2 + p.small {
	margin-top: 0;
	margin-bottom: 1em;
}


/* Brand Guide */
.brand-group { padding-bottom: 4em; }
.brand-group h3.list-header + p { padding-top: .6em; }
.brand-item {
	padding-top: 1em;
	padding-bottom: 1em;
}

#brand-logos-color { padding-top: .8em; }
#brand-logos-mono {}
.logo-img { position: relative; }
.logo-img:after, .color-block:before {
	bottom: 0;
	box-shadow: inset rgba(0,0,0,.12) 0 0 0 1px;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.logo-img img { width: 100%; }
.logo-img + p { margin: .25em 0 0 0; }
.download-types { font-size: 0; }
.download-types li {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	margin-right: .75em;
}

.inline-gallery { font-size: 0; }
.inline-gallery .logo-img {
	display: inline-block;
	margin: 0 3% 15px 0;
	vertical-align: top;
}

#brand-colors {}
.color-block {
	height: 150px;
	position: relative;
}
.color-block:before { pointer-events: none; }
.color-block p {
	color: #fff;
	left: 0;
	margin: 0;
	padding-left: 10px;
	position: absolute;
	right: 0;
}
.color-block + p { margin: 1.5em 0 0 0; }
.color-block p.top { top: 10px; }
.color-block p.bottom { bottom: 10px; }
.color-band {
	height: 1em;
	padding: 4px 10px;
}

.color-block.gradient {
	background: -webkit-linear-gradient(top, #71c43f 0%, #2ca97f 100%);
	background: -moz-linear-gradient(top, #71c43f 0%, #2ca97f 100%);
	background: -ms-linear-gradient(top, #71c43f 0%, #2ca97f 100%);
	background: linear-gradient(to bottom, #71c43f 0%, #2ca97f 100%);
}
.color-block.greens { background: #30b55a; }
.color-block.greys { background: #3e3e3e; }
	.color-block.greys .color-band.bg { background: #f6f6f6; }
	.color-band.bg p { color: #737373; }
	.color-block.greys .color-band.x-light { background: #ccc; }
	.color-block.greys .color-band.light { background: #a9a9a9; }
	.color-block.greys .color-band.mid { background: #737373; }
	.color-block.greys .color-band.dark {
		background: #1f1f1f;
		bottom: 0;
		left: 0;
		margin: 0;
		position: absolute;
		right: 0;
	}
	.color-block.greys .color-band.dark p { color: #ccc; }
	.color-block.greys p.bottom { margin-bottom: 1.6em; }

#brand .aside-group p:not(.small) .tag { margin-left: 8px; }


/* Contaact */
#contact p .btn { margin-top: .5em; }


/* Share */
.social-shares {
	margin: -1px 0 0 1px;
	font-size: 0;
}
.social-shares li {
	display: inline-block;
	margin: 0 10px 14px 0;
}
.social-shares a {
	background: #3e3e3e url(../images/jhansal.png) 0 0 no-repeat;
	border: none;
	border-radius: 31px;
	display: block;
	height: 42px;
	overflow: hidden;
	text-indent: 100%;
	width: 42px;
}
	.social-shares a.twitter-share { background-position: 0 -186px; }
	.social-shares a.facebook-share { background-position: -50px -186px; }
	.social-shares a.gplus-share { background-position: -100px -186px; }
	.social-shares a.twitter-share:hover { background-color: #00aff3; }
	.social-shares a.facebook-share:hover { background-color: #3b5998; }
	.social-shares a.gplus-share:hover { background-color: #e55641; }


/* Legal */
.legal { padding-top: 2em; }
.legal .flex-left h2, .legal-simple h2 {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: .5em;
}
.legal h3 { margin-bottom: .5em; }
.legal .flex-left p, .legal .flex-left li, .legal-simple p, .legal-simple li {
	font-size: 75%;
	font-weight: 400;
}
.legal .flex-left li, .legal-simple li {
	list-style: disc;
	margin: 0 0 .5em 2em;
}
.legal .flex-left li ul, .legal .flex-left li ol, .legal-simple li ul, .legal-simple li ol { margin-top: .5em; }
.legal .flex-left li li, .legal-simple li li {
	list-style: circle;
	font-size: inherit;
}
.legal .flex-left li:last-child, .legal-simple li:last-child { margin-bottom: 0; }
.legal aside h2 {
	color: #a9a9a9;
	margin-bottom: .3em;
}
.legal aside p { color: #a9a9a9; }



/* FOOTER
------------------------------------------ */
footer {
	background: #2E79D8;
	color: #fff;
	font-size: 13px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
	z-index: 190;
}
footer .col { position: relative; }
.footer-links {
	font-size: 0;
	padding-left: 21%;
}
.footer-links:before {
	background: transparent url(../images/jhansal1.png) 0 -42px no-repeat;
	content: '';
	height: 84px;
	left: 5%;
	position: absolute;
	top: 0;
	width: 84px;
}
.footer-col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 0 50px 0;
	padding-left: 3%;
	vertical-align: top;
	width: 20%;
}
.footer-col h4 { line-height: 1.2; }
.footer-col h4, .footer-col li { font-size: 13px; }
.footer-col li {
	font-weight: 400;
	margin-bottom: .25em;
}
.footer-col a { color: inherit; }
.footer-col h4, .footer-col a:hover { color: #ccc; }
.copyright {
	padding-top: 20px;
	border-top: 1px solid #4f4f4f;
}
.copyright p {
	color: inherit;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.social-links {
	float: left;
	font-size: 0;
	margin-top: -8px;
}
.social-links li {
	display: inline-block;
	margin-right: 12px;
}
.social-links li a {
	background: transparent url(../images/jhansal1.png) 0 -156px no-repeat;
	display: block;
	height: 30px;
	opacity: .34;
	overflow: hidden;
	text-indent: 100%;
	width: 30px;
}
.social-links li a:hover { opacity: .93; }
	.social-links li.social-twitter a { background-position: 0 156px; }
	.social-links li.social-facebook a { background-position: -30px -156px; }
	.social-links li.social-youtube a { background-position: -60px -156px; }
	.social-links li.social-instagram a { background-position: -90px -156px; }
	.social-links li.social-googleplus a { background-position: -120px -156px; }



/* MOBILE DISPLAYS
------------------------------------------ */

/* Quick Tablet Tweaks */
@media (max-width: 800px) {
	#pro .page-group.gallery-large.right .gallery { left: -100px; }
	#pro main .page-group.right .copy { margin-left: 384px; }
	#pro .page-group.gallery-large.left .gallery { right: -100px; }
	#pro main .page-group.left .copy { margin-right: 384px; }
}
@media (max-width: 740px) {
	#mobile-overview h2, #mobile-overview h4.light { display: none; }
	#mobile .android { margin-left: 43px; }
	#mobile-overview a.store-badge { display: block; }
	#mobile .copy {
	    height: auto;
	    min-height: 654px;
	}
}
@media (max-width: 700px) {
	#mobile .ipad { display: none; }
	#mobile .iphone { margin-left: -191px; }
	#mobile .android { margin-left: -84px; }
	#mobile .copy { min-height: 574px; }

	#pro .page-group.gallery-large.right .gallery { left: -200px; }
	#pro main .page-group.right .copy { margin-left: 284px; }
	#pro .page-group.gallery-large.left .gallery { right: -200px; }
	#pro main .page-group.left .copy { margin-right: 284px; }
}
@media (min-width: 680px) {
    #mobile-overview .store-windows:after { content: " Store"; }
}

/* General Mobie (Anything < Tablet) */
@media (max-width: 767px) {
	#mast { height: 86px; }
	#page {
		padding-top: 50px !important;
		margin-top: 0 !important;
	}
	#mast-title, #mast-btns, #mast-img, #head-wrap { display: none; }

	#main-nav {
		left: 0;
		padding-bottom: 10px;
		position: fixed;
		right: 0;
		top: -10px;
	}
	#main-nav ul {
		margin: 0;
		text-align: right;
	}
	#main-nav li { margin: 0 0 .2em 3%; }
	#main-nav-shadow {
		bottom: 0;

		content: '';
		left: 0;
		opacity: 1 !important;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 99;
	}
	#pin-logo { opacity: 1 !important; }

	.footer-col {
		padding-left: 2%;
		padding-right: 2%;
	}
	.footer-col:first-child { padding-left: 0; }
	.footer-col:last-child { padding-right: 0; }
	.footer-links { padding-left: 0; }
	.footer-links:before { display: none; }

	/* Home Main Section Tweaks */
	#home-about p+p { display: none; }
	#home .store-badges { white-space: normal; }
	#home .store-badges li {
	    display: block;
	    margin: 0 0 3% 0;
	    white-space: normal;
	    width: auto;
	}
}

/* Tall Phone Landscape */
@media (max-width: 568px) {
	/* Mobile Sliding Nav */
	#mobile-nav-handle {
		background:  url(../images/list.png)  no-repeat;
		float: left;
		height: 42px;
		margin-left: 1%;
		margin-right: 1%;
		overflow: hidden;
		position: relative;
		width: 42px;
		z-index: 101;
	}
	#main-nav ul {
		background: #fff !important;
		display: none;
		height: 200%;
		padding-top: 8px;
		position: fixed;
		left: 0;
		text-align: left;
		top: 62px;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		width: 80%;
		z-index: 500;
	}
	#main-nav ul li {
		display: block;
		margin: 0;
	}
	#main-nav ul li a { padding: 0 10%; }
	#main-nav li.current:before { display: none; }
	.show-mobile-nav, .show-mobile-nav body { overflow: hidden; }
	.show-mobile-nav #main-nav ul {
		box-shadow: rgba(0,0,0,.12) -2px 0 0, rgba(0,0,0,.12) -4px 0 3px, inset rgba(0,0,0,.34) 0 2px 0;
		display: block;
	}
	.show-mobile-nav #page main:after {
		background: rgba(0,0,0,.12);
		bottom: 0;
		content: '';
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 500;
	}
	#page main, #main-nav ul, footer {
		-webkit-transition: -webkit-transform .34s cubic-bezier(.694, .0482, .335, 1);
		-moz-transition: -moz-transform .34s cubic-bezier(.694, .0482, .335, 1);
		-ms-transition: -ms-transform .34s cubic-bezier(.694, .0482, .335, 1);
		transition: transform .34s cubic-bezier(.694, .0482, .335, 1);
	}

	.slide-nav #main-nav ul {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slide-nav #page main, .slide-nav footer {
		-webkit-transform: translate3d(-90%, 0, 0);
		-moz-transform: translate3d(-90%, 0, 0);
		-ms-transform: translate3d(-90%, 0, 0);
		transform: translate3d(-90%, 0, 0);
	}

	/* PAGE ADJUSTMENTS */
	.col.inner { padding: 40px 0 !important; }
	.gallery { display: none; }
	.copy { margin: 0 !important; }
	.flex-right {
		float: none;
		margin: 0 0 2em 0;
		text-align: center;
		width: auto;
	}
	h2 + .flex-right { margin-top: 2em; }
	.flex-left, .mobile .flex-left {
		border: none;
		float: none;
		margin-right: 0;
		padding-right: 0;
		width: auto;
	}
	h2, .page-group h4, p { text-align: center; }
	#single-page h2, #single-page .page-group h4, #single-page p, #single-page .flex-right,
	#simple-copy h2, #simple-copy .page-group h4, #simple-copy p, #simple-copy .flex-right { text-align: left; }
	#single-page .flex-left p:first-child + h2 { margin-top: 0; }
	p.narrow { width: 100%; }

	/* Stack any Quick Tabs */
	.quick-tabs li {
	    display: block;
	    margin: .5em 0 0 0;
	}

	/* Flipping Flex Col Order */
	.mobile-flex .col-inner { display: table; }
	.mobile-flex .flex-right { display: table-footer-group; }
	.mobile-flex .flex-right .aside-group {
		margin: 0 -5%;
		padding: 2em 5% 0 5%;
	}
	.mobile-flex .flex-right .aside-group:first-child {
		margin-top: 1em;
		position: relative;
	}
	.mobile-flex .flex-right .aside-group:first-child:after {
		background: #ccc;
		background: rgba(0,0,0,.07);
		content: '';
		height: 1px;
		left: 5%;
		position: absolute;
		top: 0;
		width: 90%;
	}
	.mobile-flex .flex-left { display: table-header-group; }

	/* Flex Grid Disabling */
	#home-soundtrack .flex-grid, #mobile .flex-grid, #pro .flex-grid {
		display: block;
		margin: 0;
		width: 100%;
	}
	#home-soundtrack .flex-col, #mobile .flex-col, #pro .flex-col {
		display: block;
		padding: 0;
		width: 100%;
	}

	/* Feature Headers */
	#home-why {
		background: -webkit-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
		background: -moz-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
		background: -ms-linear-gradient(top, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
		background: linear-gradient(to bottom, rgba(113,196,63,.93) 0%, rgba(33,168,126,.93) 100%);
	}
	#home-why h2, #pro-mobile-header h2:not(.small) { color: #fff; }
	#home-why h2:after, #pro-mobile-header h2:not(.small) em {
		color: #99eb8d;
		color: rgba(174,255,156,.75);
		display: block;
		font-size: 21px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -.042em;
		line-height: 1.2;
		margin-top: .5em;
	}
	#home-why .store-badges a, #pro-mobile-header .store-badges a {
		background: transparent;
		box-shadow: #fff 0 0 0 2px;
		box-shadow: rgba(255,255,255,.34) 0 0 0 2px;
	}
	#home-why .store-badges a:hover, #pro-mobile-header .store-badges a:hover {
		box-shadow: #99eb8d 0 0 0 2px;
		box-shadow: rgba(174,255,156,.84) 0 0 0 2px;
		color: #99eb8d;
		color: rgba(174,255,156,.84);
	}
	#home .store-badges li { display: inline-block; }

	/* Home */
	#home main { margin-top: -70px; }
	#home-why { padding-top: 62px; }
	#home-why h2:after { content: 'Millions of songs, wherever you want, whenever you want.'; }
	#home-why .col.inner { padding: 30px 0 50px 0 !important; }
	#home-about p { display: none; }
	#home-about .store-badges { text-align: center; }
	#home-about .store-badges li { margin: 0 6px; }
	#home-about .store-badges li + li { margin-top: 10px; }
	#home-soundtrack .flex-grid, #home-soundtrack .flex-grid + .flex-grid { margin-top: 0 !important; }
	#home-soundtrack h3 { margin: .3em 0 .6em 0; }

	/* Mobile */
	#mobile .gallery { display: block; }
	#mobile .copy { min-height: 921px; }
	#mobile .flex-grid h2 { display: none; }
	#mobile .flex-col#mobile-ios { padding: 0; }
	#mobile .flex-col#mobile-android { padding: 10px 0; }
	#mobile-ios:before {
		content: 'Take your music anywhere!';
		display: block;
		font-size: 48px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 200;
		letter-spacing: -.048em;
		line-height: 1;
		margin: 0 0 .5em -.048em;
		text-align: center;
	}
	#mobile-overview a.store-badge {
	    display: inline-block;
	    width: 162px;
	}
	#mobile-overview .store-windows:after { content: " Store"; }

	/* Pro */
	#pro .page-group.gallery-large .col {
		margin-bottom: 0;
		min-height: 0;
	}
	#pro .col.inner { padding-bottom: 0 !important; }
	#pro main { margin-top: -50px; }
	#pro-mobile-header {
		display: block;
		margin-bottom: -2px;
		padding: 91px 5% 40px 5%;
	}
	#pro-mobile-header h2:not(.small) {
		margin-bottom: 17px;
		padding-bottom: 69px;
		position: relative;
	}
	#pro-mobile-header h2:not(.small):after {
		background: transparent url(../_i/corp-sprite.png) 0 -260px no-repeat;
		bottom: 0;
		content: '';
		height: 48px;
		left: 50%;
		margin: 0 0 0 -30px;
		position: absolute;
		width: 60px;
	}
	#pro-mobile-header h2.small {
		color: #fff;
		font-size: 21px;
		font-weight: 400;
		letter-spacing: -.034em;
		margin-bottom: .75em;
	}
	#pro-mobile-header .store-badges { text-align: center; }
	#pro-mobile-header .store-badges li:first-child { margin-bottom: 10px; }
	#pro-mobile-header p {
		color: #99eb8d;
		color: rgba(174,255,156,.62);
		font-size: 16px;
		font-weight: 300;
		line-height: 1.4;
		margin: 1.25em 0 -.75em 0;
	}
	#pro .page-group.gallery-large h2 {
		color: #30b55a;
		display: block;
		font-size: 26px;
		font-weight: 300;
	}
	#pro .page-group.gallery-large .copy p + p {
		color: #3e3e3e;
		font-weight: 400;
		letter-spacing: -0.012em;
	}
	#pro-get-started { display: none; }
	#pro-pricing .flex-col, #pro-faq .flex-col { padding-bottom: 20px; }
	#pro-pricing .price-grid:not(.grad) { background: #fafafa; }

	/* Press */
	#aside-brand-guide { display: none; }
	#press-releases { padding-bottom: 0; }
	#press-coverage {
		border-top: 1px solid #ccc;
		border-color: rgba(0,0,0,.07);
		margin-bottom: -1em;
		padding-top: 40px;
	}
	.list-header { text-align: center; }
	.press-list .tag {
		display: block;
		margin: 0 auto .75em auto;
		max-width: 120px;
	}
	.press-item h3 em {
		display: block;
		margin: .25em 0 0 0;
	}
	#press-contact { padding: 3em 5% 2em 5%; }

	/* Advertise */
	#leadgen {
		padding-bottom: 2em;
		text-align: center;
	}
	fieldset .half, fieldset .half + .half {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.vcard + .vcard:before { left: 33%; }

	footer {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.footer-col {
		display: block;
		margin-bottom: 20px;
		padding-left: 0;
		width: 100%;
	}
	.footer-col li {
		display: inline-block;
		margin-right: 12px;
	}
	.copyright p {
		padding-top: 12px;
		border-top: 1px solid #4f4f4f;
		text-align: left;
		white-space: auto;
	}
	.social-links {
		float: none;
		margin-bottom: 11px;
	}
}

/* Phone Landscape */
@media (max-width: 479px) {}

/* Phone Portrait */
@media (max-width: 350px) {
    #mobile .copy { min-height: 961px; }
}


/* RETINA */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.btn.outline { box-shadow: inset #3e3e3e 0 0 0 1px; }

	#logo, a.back-link:before, #pin-logo, .store-badges a:not(.solo):before, a:not(.solo).store-badge:before, .feature-icon, .social-shares a, .footer-links:before, .social-links li a, #mobile-nav-handle, #mobile-nav-close, #pro-mobile-header h2:not(.small):after {
		background-image: url(../images/jhansal1.png);
		background-size: 600px 600px;
	}

	/* Header */
	nav.mast .btn, nav .store-badges li a {
		box-shadow: #fff 0 0 0 1px;
		box-shadow: rgba(255,255,255,.34) 0 0 0 1px;
	}
	nav.mast .btn:hover, nav .store-badges li a:hover {
		box-shadow: #99eb8d 0 0 0 1px;
		box-shadow: rgba(174,255,156,.84) 0 0 0 1px;
	}

	/* Core Styles */
	.store-badge.light { box-shadow: inset #30b55a 0 0 0 1px; }
}










/* PRO PAGE UPDATE -- Aug 19
(TODO: Clean up and integrate.)
------------------------------------------ */

/* General */
#pro .center { margin:0 auto; }

.display-block { display:block !important; }
.display-none { display:none !important; }

.hide-overflow { overflow:hidden; }

.front { z-index:199; }

.white-back { background:#ffffff !important; }
.light-back { background:#f6f6f6 !important; }
.medium-back { background:#efefef !important; }

.float-left { float:left; }
.float-right { float:right; }
.float-none { float:none; }

.see-through { opacity: 0.5; }

.push-small { margin:5px; }
.push-top { margin-top:80px !important; }
.push-top-small { margin-top:20px!important; }

.one-whole { width:100%; }
.one-half { width:50%; }

.vert-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Scroll Section Stuff */
.copy-one {position: absolute; top: 300px; }

.fixedSection {
    position:fixed !important;
    top:0 !important;
    padding:120px 0px 0px 0px !important;
    margin-left:1%!important;
    width:98% !important;
}

.small-height { max-height:500px; overflow:hidden; }
.big-height { height:1000px !important; }
.pushBottom { bottom:-693px !important; }
.fix-margin { margin-left:0!important; }

.chunck-one { display:block; }
.chunck-two { display:none; }
.chunck-three { display:none; }
.copy-height { height:1144px; }

.gallery-chrome .chrome-frame { background:transparent url(../_i/corp-chromes-new.png) 0 0 no-repeat; }
.gallery-chrome.iphone.large .chrome-frame img { margin:88px 0 0 19px!important; }

.gallery-chrome .chrome-frame { max-height:878px !important; }


/* Payment Plan Stuff */
#new-pricing { background-color:#efefef !important; }

.light-border {
    border-radius: 4px;
    border: 1px solid #c9e3d1;
}

.filled-border {
    border-radius: 4px;
    border: 1px solid #2aa551;
    background-color:#30b55a;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
     -o-transition: all 200ms;
    transition: all 200ms;
}
.filled-border:hover {
    border: 1px solid #2aa551;
    background-color:#2aa551;
}
.filled-border.see-through:hover { cursor:not-allowed; }
.tile-header {
    border-bottom: 1px solid #121212;
    background-color:#3e3e3e;
    border-radius:4px 4px 0 0;
}

.features {
    font-size:16px!important;
    font-weight:500!important;
    color:#898989!important;
    line-height:normal!important;
    margin:0 !important;
    padding: 20px!important;
}

.features img { margin-top:4px; }
.features-width { width:80%; margin:0 auto; }

.selection {
    font-weight:600;
    font-size:12px;
    text-transform:uppercase;
    color:#fff;
    line-height:normal;
    padding:20px;
    margin-bottom:0px;
}
.selection img { margin-top:4px; height:100%; }
.selection span { color:#30b55a; }

.flex-grid .add-bottom { margin-bottom:4%; }
.price-grid { padding:0!important; background:#fbfbfb; }
.price-grid .details { min-height:190px; }

.length-number { font-weight:100; font-size:70px; color:#3e3e3e; margin-top:65px; line-height:40px; }
.pay-price { font-weight:100; font-size:50px; color:#30b55a; }
.pay-type { font-weight:600; font-size:10px; color:#898989; margin-top:55px; margin-bottom:0; line-height:normal; text-transform:uppercase; }
.pay-length { font-weight:600; font-size:10px; color:#898989; text-transform:uppercase; }
.pay-ops { font-weight:600; font-size:10px; color:#b8b8b8; text-transform:uppercase; margin-top:210px }

.payment-back { background-color:#e8e8e8; height:50px; border-radius:4px; }
.payment-back.android img {
    max-width: 296px;
    width: 90%;
}
.payment-back img {
    margin: 0 auto;
}

/* phone */
@media screen and (max-width: 560px) {
    #pro-download { display: none !important; }

    /* Scroll Section Stuff */
    .copy-height { height:auto; }

    /* Payment Plan Stuff */
    .mobile-push { margin-top:40px!important; }
    .mobile-push-small { margin-top:4px!important; }
    .mobile-push-bottom { margin-bottom:40px!important; }
}


/* CB Additions */
select, .select-box {
	-webkit-appearance: none;
	border-radius: 4px;
	display: block;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 1.5em 1.2em;
	text-align: inherit;
	text-shadow: none;
	width: 100%;
}
select { opacity: 0; }
.select-wrap {
    cursor: pointer;
	display: block;
	position: relative;
	text-align: left;
}
.select-box {
	color: #fff;
	display: block;
	font-weight: 700;
    font-size: 12px;
    left: 0;
	line-height: 1;
	margin-top: -.5em;
	overflow: hidden;
	padding: 0 30px 0 1em;
	position: absolute;
	right: 0;
	text-overflow: ellipsis;
	text-transform: uppercase;
	top: 50%;
	white-space: nowrap;
	z-index: 0;
}
.select-box {}

.select-box.placeholder { color: #fff; /*color: rgba(255,255,255,.48);*/ }
.select-wrap:after {
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #fff transparent transparent transparent;
	content: '';
	height: 0;
	margin-top: -3px;
	pointer-events: none;
	position: absolute;
	right: .84em;
	top: 50%;
	width: 0;
}

.see-through select { pointer-events: none; }

#ios-price-time .length-number:after {
    color: #b8b8b8;
    content: '*';
    font-size: 15px;
    line-height: 0;
    position: relative;
    top: -.2em;
    vertical-align: top;
}

.tile-header .selection { padding: 1em 20px; }

.pro-features h2.small {
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 10px;
    position: relative;
}
.pro-features h2:before {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    height: 40px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    top: 26px;
    width: 80px;
}
.pro-features h2.devices:before { background-image: url(../_i/pro-price-devices.svg); }
.pro-features h2.downloads:before { background-image: url(../_i/pro-price-downloads.svg); }
.pro-features h2.ads:before { background-image: url(../_i/pro-price-ads.svg); }
